[2015-09-08 10:25] cpichard opened #1 "3D viewer"
We need a 3d viewer in mockupMVG. In the first version this viewer should display colored point clouds, camera positions and orientation. We should be able to move around in the 3d space using the maya mouse interaction.

[2015-09-24 19:03] fabiencastan opened #2 "Open the output directory"
Need a button to open the folder containing all the output files.

[2015-09-28 11:16] fabiencastan opened #3 "Standalone version"
- local computation
- no REZ

[2015-09-28 11:23] fabiencastan opened #4 "Tractor prototype"

[2015-09-28 13:57] #2 closed, assigned to nrondaud

[2015-09-28 14:31] fabiencastan opened #5 "Compute camera localization"
Run & visualize tracking of video files without RT constraint.
Should be able to compute on renderfarm.

[2015-09-28 15:46] fabiencastan opened #6 "Experiment with wifi transfer"
http://fr.eyefi.com

[2015-09-28 15:47] fabiencastan opened #7 "Visualization of WIP reconstructions"

[2015-09-28 15:53] fabiencastan opened #8 "Support versions in reconstructions"
As we will be able to [add images](https://github.com/poparteu/openMVG/issues/25), we need to support the notion of versions in the application.

[2015-10-05 13:13] fabiencastan opened #9 "Path of input images"
Visualize absolute paths of source images.
Maybe also a right click to open the folder directly.

[2015-10-05 13:15] fabiencastan opened #10 "Custom name + description"
Choose a custom name for reconstructions.
Could be also useful to have a way to put a long description.

[2015-10-07 15:29] #1 closed, assigned to cpichard

[2015-10-13 11:55] fabiencastan opened #11 "Filter file extension when we add images"
Only keep JPG/jpg/JPEG/jpeg files.

[2015-10-13 11:57] fabiencastan opened #12 "Option to remove all images"
Maybe Ctrl+A to select all images so we could remove them globally.

[2015-10-13 11:59] fabiencastan opened #13 "Drag&drop of a folder"
We probably want to add all the images inside.

[2015-10-13 12:01] fabiencastan opened #14 "Remove a reconstruction we have not started"

[2015-10-13 12:03] fabiencastan opened #15 "Focus handler"
The text zone always keep the focus.

We may need to add a global background that accept focus, like that:
https://github.com/buttleofx/QuickMamba/blob/master/qml/QuickMamba/TopFocusHandler.qml

[2015-10-13 15:23] fabiencastan opened #16 "Set a custom name for the location"
Currently the name is retrieved from the selected folder, but in the pipeline it will always be "photogrammetry".
So it could be great if the user could customize it.

[2015-10-16 09:20] eprana opened #17 "Create document for shooting advices"
A Mikros document already exists, but it needs to be improved.

[2015-10-16 11:28] eprana opened #18 "ScriptMVG - Stable version 0.9.popart.beta"
See poparteu/scriptMVG#5

[2015-10-23 08:24] #18 closed, assigned to nobody

[2015-10-23 08:48] #17 closed, assigned to nobody

[2015-10-27 21:12] #4 closed, assigned to eprana

[2015-10-30 09:13] eprana opened #19 "Meshroom documentation"
- [ ] Simple documentation on how to use the soft.
  - [x] French
  - [x] English
  - [ ] Use nice icons
- [ ] FAQ to explain the common errors

[2015-11-03 14:31] #11 closed, assigned to nrondaud

[2015-11-03 14:51] #9 closed, assigned to nrondaud

[2015-11-03 14:53] #10 closed, assigned to nrondaud

[2015-11-04 17:11] #12 closed, assigned to nrondaud

[2015-11-23 15:33] fabiencastan opened #20 "Option to compute locally"
`job_start.py --engine=local JOB.JSON`
`job_start.py --engine=dummy JOB.JSON`
`job_start.py --engine=tractor JOB.JSON` (the default value)

[2015-11-24 17:46] fabiencastan opened #21 "CCTag support"
We need to be able to launch a reconstruction with SIFT only, CCTag only or SIFT+CCTag.

The file argument is:

[code]

Possible values are:
- SIFT (default)
- CCTAG3: CCTAG markers with 3 crowns
- SIFT_CCTAG3

[2015-12-04 10:47] fabiencastan opened #22 "Open image directory"
In the right click menu, we can "open parent directory" of an image which is useful.
But when the job is started everything is locked. And we cannot retrieve the folder of the input images from meshroom.

[2015-12-05 16:57] fabiencastan opened #23 "Mesh & undistort: add options to make them optional"
For tracking we don't need meshing or undistort images.

File format supported by scriptMVG-dev_mikros is:

[code]

[2015-12-05 17:50] fabiencastan opened #24 "Use the "name" field for the generated ABC file"

[2015-12-18 16:30] #21 closed, assigned to nrondaud

[2015-12-18 16:30] #20 closed, assigned to nrondaud

[2015-12-18 16:30] #3 closed, assigned to nobody

[2015-12-21 12:57] eprana opened #25 "Create a logo"

[2015-12-21 12:58] eprana opened #26 "Duplicate job"
Duplicate a job to launch the same job with different parameters.
At least copy the images.

[2016-01-05 19:12] #24 closed, assigned to fabiencastan

[2016-01-05 19:12] #23 closed, assigned to fabiencastan

[2016-01-14 10:42] eprana opened #27 "Create a (nice) logo"

[2016-01-21 09:46] #25 closed, assigned to nobody

[2016-01-21 17:01] nrondaud opened #28 "[3D View] Stick to Maya controls"
mouse controls used in the GL view should work exactly as in Autodesk Maya.
these controls are sometimes inverted :
- horizontal pan direction, after rotating the camera
- zoom in/out direction, using the mouse wheel

[2016-01-22 09:08] fabiencastan opened #29 "Job wrongly identified as started"

[2016-01-22 09:20] fabiencastan opened #30 "Add missing metadata"
Add metadata to an image from meshroom.

[2016-01-22 09:24] fabiencastan opened #31 "Visualize and add cameras to the global DB"

[2016-01-22 11:01] fabiencastan opened #32 "Split screen with a large view of the images"
Currently we can only see thumbnails, so it's difficult to remove images, select the initial pair.

[2016-01-22 11:09] fabiencastan opened #33 "[3D View] center on selection"
As in meshlab on double click or as in Maya with F.

Require picking.
Require selection if we do the same than in Maya.

[2016-01-22 11:17] fabiencastan opened #34 "Visualize and filter cameras reliability"
- [ ] Visualize the reliability of the cameras with a color range (green is strong & red is weak). We can see this color on the 3D gizmo as well as in 2D as a border of the thumbnail.
- [ ] Add a slider to filter the cameras based on this reliability.

For this first step, the camera reliability will be defined by the number of reconstructed points in each camera.

[2016-01-22 11:21] fabiencastan opened #35 "Visualize and filter points reliability"
- [ ] Visualize the reliability of the 3D points with a color range (green is strong & red is weak).
- [ ] Add a slider to filter the point cloud based on this reliability.

For this first step, the 3D points reliability will be defined by the visibility size.

[2016-01-22 11:23] fabiencastan opened #36 "[3D View] cameras gizmo"
- [ ] option to disable all cameras
- [ ] option to change the scale of the locators

[2016-01-22 11:24] fabiencastan opened #37 "No image pair by default"
By default don't set the image pair and rely on the openMVG automatic selection.

[2016-02-02 00:37] #37 closed, assigned to nrondaud

[2016-02-02 00:38] #13 closed, assigned to nrondaud

[2016-02-02 00:38] #26 closed, assigned to nrondaud

[2016-02-02 00:40] #22 closed, assigned to nrondaud

[2016-02-02 00:41] #16 closed, assigned to nrondaud

[2016-02-02 00:44] #15 closed, assigned to nrondaud

[2016-02-02 09:50] #32 closed, assigned to nrondaud

[2016-02-02 09:51] #14 closed, assigned to nrondaud

[2016-02-02 14:40] #29 closed, assigned to nrondaud

[2016-02-03 12:55] #28 closed, assigned to cpichard

[2016-02-09 14:45] nrondaud opened #38 "user interface enhancements"
- [x] the project name isn't immediately updated on the homepage, after a rename
- [x] sometimes, we can't delete an image from the list (keyboard focus issue)
- [x] show the image count per job
- [x] change the status color & title size
- [x] add an 'import image...' menu
- [x] add some parameter tooltips
- [x] submit on farm, by default
- [x] the 'plus' button should add a new empty job
- [x] re

[2016-02-10 10:12] #19 closed, assigned to eprana

[2016-02-19 10:20] cpichard opened #40 "graph engine investigation"
The underlying principle of job submission in meshroom can be represented as a graph of different stages to perform, like feature extraction then feature matching then sfm, and so on. For now this graph is expressed in the scriptMVG part of the project. Investigate what it would take to have this computation graph directly in meshroom to eventually manipulate it directly in the UI.
- [x] Design do

[2016-02-23 09:08] #38 closed, assigned to nrondaud

[2016-04-20 09:39] fabiencastan opened #42 "Import Images"
"Job > Import Images" open a popup with a filter to list only images (instead of all files). But it doesn't list JPG files.

[2016-04-20 09:52] fabiencastan opened #43 "Remove images"
When we use the thumbnail mode, we can select and remove images.
It could be very useful to be able to remove the current image when we are in full image view mode.

[2016-04-20 09:54] fabiencastan opened #44 "Keyboard shortcut to navigate between images"
Switch between images from the keyboard (left/right keys) in full image view mode.

[2016-04-20 09:56] fabiencastan opened #45 "Switch between full view and thumbnail view mode"
Could be very useful to switch between full view and thumbnail view mode by double click.

[2016-08-10 14:56] #40 closed, assigned to nrondaud

[2016-08-11 09:54] #6 closed, assigned to nobody

[2016-08-11 09:54] #7 closed, assigned to nobody

[2016-08-11 09:54] #8 closed, assigned to nobody

[2016-08-11 09:54] #31 closed, assigned to nobody

[2016-08-11 09:54] #33 closed, assigned to nobody

[2016-08-11 09:54] #34 closed, assigned to nobody

[2016-08-11 09:54] #35 closed, assigned to nobody

[2016-08-11 09:54] #36 closed, assigned to nobody

[2016-08-11 09:54] #42 closed, assigned to nobody

[2016-08-11 09:54] #43 closed, assigned to nobody

[2016-08-11 09:54] #44 closed, assigned to nobody

[2016-08-11 09:54] #45 closed, assigned to nobody

[2016-08-11 10:08] nrondaud opened #49 "refresh node statuses"
refresh all node statuses:
- when a new scene is loaded
- on demand (user action)

[2016-08-11 10:14] nrondaud opened #50 "display the computed .abc file"
load the Alembic file, when available, when selecting the AlembicExport node.
clear the 3d view otherwise.

[2016-08-11 10:33] nrondaud opened #51 "linux build"
- ensure that everything is fine on linux
- temporarily remove the theia dependency

[2016-08-12 10:54] #50 closed, assigned to nobody

[2016-08-16 09:22] #49 closed, assigned to nobody

[2016-08-16 12:46] #51 closed, assigned to nobody

[2016-09-02 13:13] nrondaud opened #52 "Qt5.7 & QQuickControls2.0"
use Qt5.7, with Qt Quick Controls 2.0 and the new stylesheet (QQuickStyle) system

[2016-09-02 13:14] nrondaud opened #53 "Qt3D Viewport"
replace the custom 3d view with a Qt3d-qml viewport

[2016-09-02 13:14] nrondaud opened #54 "Qt3D Alembic importer"
replace the old importer class with a new Qt3d module

[2016-09-02 13:15] nrondaud opened #55 "Qt3D Maya controls"
mimic maya camera controls with qt3d

[2016-09-02 13:16] nrondaud opened #56 "Qt3D Object picking"
Use the qt3d picking methods to select objects in the scene

[2016-09-02 13:52] nrondaud opened #57 "Create new edges from the UI"

[2016-09-02 13:52] nrondaud opened #58 "Select/remove nodes & edges"

[2016-09-02 13:53] nrondaud opened #59 "Mark the scene as dirty when editing the node graph"

[2016-09-02 13:54] nrondaud opened #60 "Edit the cache root directory from the UI"

[2016-09-12 16:48] #52 closed, assigned to nobody

[2016-09-12 16:50] #53 closed, assigned to nobody

[2016-09-12 16:50] #54 closed, assigned to nobody

[2016-09-12 16:52] #55 closed, assigned to nobody

[2016-09-12 16:52] #56 closed, assigned to nobody

[2016-09-29 07:45] fabiencastan opened #61 "Add button to create the default workflow"

[2016-11-04 15:43] #61 closed, assigned to nobody

[2016-11-04 15:46] #60 closed, assigned to nrondaud

[2016-11-04 15:46] #59 closed, assigned to nrondaud

[2016-11-04 15:48] #58 closed, assigned to nrondaud

[2016-11-04 15:49] #57 closed, assigned to nrondaud

[2016-11-04 16:04] nrondaud opened #63 "undo/redo"
![undo_meme](https://cloud.githubusercontent.com/assets/142111/20012670/77270cb0-a2b0-11e6-9032-46eaf7900b6d.jpg)

[2016-11-18 17:33] #63 closed, assigned to nobody

[2017-03-13 16:06] fabiencastan opened #64 "Home page"
List all previously loaded reconstructions with status.

[2017-03-13 16:10] fabiencastan opened #65 "Add log widget"
Allow to see the log for each node.

[2017-03-13 16:13] fabiencastan opened #66 "Load default values from a config file"
For instance, paths to the sensor db or to the voctree need to be configurable during installation.

To make it generic, the idea is to be able to set the default value of any parameter.

[2017-03-13 16:16] fabiencastan opened #67 "Check that input image are valid"
- [x] contains a valid focal length in the metadata
- [x] the model is in the metadata and this camera model is known in the sensor width db
- [x] UI feedback

[2017-03-13 16:17] fabiencastan opened #68 "Simple wizard to drop images and launch the process"

[2017-03-13 16:18] fabiencastan opened #69 "Final mesh visualization in the viewer"
- [ ] Test qml obj loader
- [ ] How do we retrieve the mesh filepath?

[2017-03-13 16:19] fabiencastan opened #70 "Tasks parallelization in tractor"
Some nodes, like feature extraction, could be processed on renderfarm by small groups.

[2017-03-13 16:22] fabiencastan opened #71 "Deal with invalidation on each node"
For instance on "FeatureExtraction", the "feature type" used should invalidate the node by generating an output folder based on the UID.

[2017-03-13 16:22] fabiencastan opened #72 "Integrate CMPMVS nodes"
- [x] openMVG2CMPMVS
  - **IN**: sfm_data
  - **OUT**: RU folder
- [x] Camera connectivities
  - **IN**: RU folder
  - **OUT**: camPairMatrix file
- [x] Create Depth Maps
  - **IN**: RU folder, camPairMatrix file
  - **OUT**: DM folder
- [x] Filter Depth Maps
  - **IN**: DM folder, camPairMatrix file
  - **OUT**: FDM folder
- [x] Meshing
  - **IN**: FDM folder
  - **OUT**: Meshing folder
- [x] Tex

[2017-03-13 16:24] fabiencastan opened #73 "Visualize status per image"
At the end of the reconstruction, display a status on the images (reconstructed/unreconstructed).

[2017-03-13 16:25] fabiencastan opened #74 "Visualize basic statistics per image"

[2017-03-13 20:22] fabiencastan opened #75 "Set input image focal length"
- [x] set input image focal length in pixel
- [x] set input image focal length in mm and camera model (to get sensor width)
- [x] add new camera model in the sensor width DB

[2017-11-07 15:10] #71 closed, assigned to yann-lty

[2017-11-07 15:11] #70 closed, assigned to yann-lty

[2017-11-07 15:22] #72 closed, assigned to fabiencastan

[2018-01-05 11:59] #69 closed, assigned to yann-lty

[2018-01-05 11:59] #68 closed, assigned to yann-lty

[2018-01-05 12:00] #65 closed, assigned to nobody

[2018-01-05 12:17] fabiencastan opened #80 "File Param interactions"
- [x] open the folder corresponding to the content
- [x] drag&drop a file on the file param to quickly set the value

[2018-02-01 14:21] #73 closed, assigned to nobody

[2018-02-01 14:23] yann-lty opened #87 "Improve lighting in 3D viewer"
Attach a point light to the camera to always light the model efficiently.

[2018-02-01 14:29] #87 closed, assigned to yann-lty

[2018-02-07 10:48] #80 closed, assigned to yann-lty

[2018-02-07 13:21] yann-lty opened #91 "Partial graph submission"
Be able to submit only a portion of the graph, up to a specific node (as we can do for local computation).

[2018-02-08 17:36] #91 closed, assigned to yann-lty

[2018-04-28 09:47] GottfriedHofmann opened #112 "Empty egg from bdist"
I'm on Ubuntu 17.10 x64 and (possibly) compiled PySide2 successfully. Running bdist on meshroom creates a tar file that includes an almost empty egg. Here is the console log:

running bdist
running bdist_dumb
running build
installing to build/bdist.linux-x86_64/dumb
running install
running install_egg_info
running egg_info
creating Meshroom.egg-info
writing Meshroom.egg-info/PKG-INFO
writing top-l

[2018-04-28 10:02] fabiencastan commented on #27
Done #110

[2018-04-28 10:02] #27 closed

[2018-05-01 21:53] gnatty7 opened #114 "Error when loading UI"
OS: Windows
Python : 2.7.15 32-bit
PySide2 5.9
Qt: 5.10.1

Running Meshroom on develop - f7da048addcf24f73ae23a3e35a8510a82df9d45
I get an error about simpleFarm.  is it not included with Meshroom?

[code]

[2018-05-01 21:55] gnatty7 opened #115 "Error when Quitting the application"
Windows 10
Python 2.7.15 32-bit
Qt 5.10.1
PySide2 5.9

Meshroom develop - f7da048addcf24f73ae23a3e35a8510a82df9d45

[code]

[2018-05-01 21:56] gnatty7 commented on #112
Yeah, `setup.py` appears to be broken. I just copied the entire 'meshroom' directory in to my site-packages to run it.  Obviously not ideal, but a workaround until this is addressed.

[2018-05-02 06:40] yann-lty commented on #112
Thanks for your feedback. We are aware that we need to improve this. In production context, we don't package Meshroom using bdist but rely on a global package manager ([rez](https://github.com/nerdvegas/rez)) that includes it in the PYTHONPATH instead. The setup.py is mainly used to setup the development environment for now but making Meshroom easily packageable is clearly on the roadmap. By the w

[2018-05-02 06:50] GottfriedHofmann commented on #112
How can I run it after I copied the 'meshroom' directory into site packages?

[2018-05-02 13:06] sphaero commented on #114
same here... I'm actually not sure how to start the UI:
[code]

[code]

[2018-05-02 14:42] aaronvark commented on #112
I've tried copying it to site packages as well, and manually running __main__.py, but I get errors on QtQuick.Controls 2.3 not being installed, and simpleFarm being an unknown module.

[2018-05-02 14:55] sphaero commented on #114
got a bit further using pyside 5.11 instead of 5.9 but getting a segmentation fault:
[code]

[code]

[2018-05-02 18:31] yann-lty commented on #112
It will open up, but you won't be able to do much since we mainly call AliceVision binaries from Meshroom. This will also be clarified in the README update.

[2018-05-02 18:39] gnatty7 commented on #112
Ahh, that's what I figured.  I'll get the AliceVision library and tinker with that.  Thanks!

[2018-05-02 20:51] GottfriedHofmann commented on #112
Thanks @gnatty7 for the info on how to run the program. The UI now starts up but it is completely black and the console prints the following error:

""
QOpenGLShaderProgram::uniformLocation(matrix): shader program is not linked
QOpenGLShaderProgram::uniformLocation(opacity): shader program is not linked
QOpenGLShaderProgram::uniformLocation(pixelSize): shader program is not linked

When I quit it,

[2018-05-02 20:58] gnatty7 commented on #112
Hi @GottfriedHofmann
I already filed an issue about the problem quitting:
https://github.com/alicevision/meshroom/issues/115

I didn't get those shader compilation errors as you did.  What sort of GPU do you have and what driver version are you using?

[2018-05-02 21:09] GottfriedHofmann commented on #112
GPU is Geforce GTX 1070ti and driver version is 384.111 x86_64
OS is Ubuntu 17.10
I installed QT 5.10 from http://download.qt.io/official_releases/online_installers/ and pointed the PySide2 setup routine to the qmake...

[2018-05-03 00:35] gnatty7 commented on #112
I also have a GTX 1070 with driver version 388.13 x86_64 on Windows 10
I'm wondering if it has something to do with the Qt installer not having GL supported?  That feels weird though.

[2018-05-03 08:08] GottfriedHofmann commented on #112
I found a fix - I added
`from OpenGL import GL`

to __main__.py and now the UI starts up.

[2018-05-03 08:11] yann-lty commented on #112
You should not need to do that, seems like something related to OpenGL is missing in your library path.

[2018-05-05 23:59] fabiencastan commented on #115
Fixed by #116.

[2018-05-05 23:59] #115 closed

[2018-05-06 08:48] ChemicalXandco commented on #114
OS: Windows 10 64-bit
Python : 3.6.5 64-bit
PySide2 5.9

When trying to load UI:
[code]
If it matters, I installed PySide2 with a wheel. Maybe it's because i'm using python 3? But when I use python 2.7.15, I get:
[code]

[2018-05-06 20:36] fabiencastan commented on #114
Thanks for the precise report.
The code has been made with Python3 compatibility in mind, but we are currently working with Python2. Some incompatibilities have been introduced and need to be fixed.
We are currently using python 2.7 and Qt 5.10.

We're on vacation right now, so it will introduce a bit of delay to fix this simple issue. Sorry for that!

We plan to provide binaries, to enable more p

[2018-05-08 15:26] Lhun commented on #114
Binaries would be lovely, I know the folks over at https://3dscanexpert.com/ would be interested in your project.

[2018-05-16 20:39] johnhable commented on #114
Hi. Are you aware of other steps required to get meshroom to run? I've included PySide 11 from the python wheel installer. It doesn't seem to find meshroom core on either python 2.7 or 3.6. Is this a path issue? Here is the output form a clean git clone on Ubuntu 18.04:

jhable@jhable-ubuntu: /meshroom$ git clone --recursive git://github.com/alicevision/meshroom
Cloning into 'meshroom'...
remote:

[2018-05-17 06:33] ChemicalXandco commented on #114
johnhable look at #112

That worked for me, so now I have a meshroom directory, but can't start the UI.

[2018-05-19 19:54] paulparneix opened #119 "UI Dark Palette Issue"
OS: Windows
Python : 2.7.15 32-bit
PySide2 5.11

Hello, I'm facing some display issues trying to run Meshroom with dark ui Palette (default) with Python 2.7 // PySide2 5.11 :
![image](https://user-images.githubusercontent.com/29799363/40272428-0bd36be0-5bad-11e8-8e45-8c9d57606b95.png)

I'm used to the classic QWidget workflow, but not qtquick/qml. Any idea what can cause this problem ?

btw, using

[2018-05-20 15:58] paulparneix commented on #114
@ChemicalXandco to have a working python3 code :

- dict ".iteritems()" method is now ".items()" in python3
- "basestring" keyword should be replaced by "str"

Working fine here (except my UI colors problem in both py2/py3).

For my dev modules, I'm using .pth files : simply create a txt file with the absolute path to your "meshroom" dir inside. rename it to "whatyouwant.pth" and place it in the L

[2018-05-20 20:54] fabiencastan commented on #112
@GottfriedHofmann See my comments in https://github.com/alicevision/meshroom/pull/120 for the QOpenGLShaderProgram error. It comes from a library name problem specific to ubuntu which uses the mesa drivers version of libGL.so instead of the one from the nvidia drivers. So you need to add `/usr/lib/nvidia-340` to the LD_LIBRARY_PATH.

[2018-05-20 21:01] fabiencastan commented on #114
Yes, you need to have meshroom accessible to python in one way or another (using pth or just by adding it to the PYTHONPATH). I updated the README in https://github.com/alicevision/meshroom/pull/120 to put it.

If you have made fixes to have python2 and python3 compatibility, a PR would be much appreciated. I don't have the setup with python3 right now to be able to make the fix and test it.

I ju

[2018-05-21 14:14] fabiencastan commented on #114
Made fixes on the same PR for the UI colors.

[2018-05-21 14:48] paulparneix commented on #114
Hi fabien, UI seems to work nicely now on Windows / Pyside 5.11. thanks :)

[2018-05-21 16:21] ChemicalXandco commented on #114
I still get `/meshroom/meshroom/ui/qml/main.qml:2 module "QtQuick.Controls" version 2.3 is not installed` but the python3 incompatibilities seem to have been fixed. @paulparneix, have you got PySide installed with the wheel? Anyone know how to get this working?

[2018-05-21 16:28] fabiencastan commented on #114
You need to install pyside with Qt >= 5.10.

I added the pip command line to install PySide through the wheel in the [INSTALL.md](https://github.com/alicevision/meshroom/blob/dev_setup/INSTALL.md):
`pip install --index-url=http://download.qt.io/snapshots/ci/pyside/5.11/latest/ pyside2 --trusted-host download.qt.io``

[2018-05-21 18:42] paulparneix commented on #114
@ChemicalXandco  as Fabien said, you can use pip to directlly download the whl from qt server and install.

You can also download the wheel, cd in the .whl directory, and run `"pip install name_of_the_wheel.whl"`

[2018-05-22 15:03] fabiencastan opened #121 "README: add gif to present basic usage of Meshroom"
And link to youtube videos.

[2018-05-23 12:55] MarjorieCoulin commented on #114
Thank you @fabiencastan the 5.11 Pyside2 wheel solved my `module "QtQuick.Controls" version 2.3 is not installed` issue
(I had the 5.9 wheel installed)

[2018-05-23 13:43] MarjorieCoulin opened #122 "Segmentation fault when loading images"
(Ubuntu 18.04, Qt 5.11)

Hi,
I get to load the Meshroom UI, but as soon as I try to drag & drop images I get the following error :

Any idea what's wrong ?
Thank you !

[2018-05-28 05:14] paperkettle commented on #122
Seeing something related I think

(Ubuntu 18.04, Qt 5.11 w/pyside2 via latest wheel as suggested in the readme)

Got stuck with simpleFarmSubmitter until I commented out the lines like in [commit 3c6ebf3df44435ee9290ff0e824f2b8fef0dcbf3](https://github.com/alicevision/meshroom/commit/3c6ebf3df44435ee9290ff0e824f2b8fef0dcbf3)

But now hitting a qt ssl issue alongside this reconstruction issue

deep

[2018-05-28 05:31] paperkettle commented on #122
SSL errors cleared up with the install suggestions [here](https://bugreports.qt.io/browse/QTBUG-68156?focusedCommentId=403523&page=com.atlassian.jira.plugin.system.issuetabpanels%3Acomment-tabpanel#comment-403523)

Still facing those same issues from

Failed to download scene at QUrl("")
/bin/sh: 1: aliceVision_cameraInit: Permission denied

and on

[2018-05-28 23:01] paperkettle commented on #122
@fabiencastan I think so yeah. Got what I believe is a successful build on AliceVision after a long dependency quest, so maybe something was awry, but seemed to build and install successfully. Have some exports in my .bashrc and echoing $PATH shows the install's bin folder and $LD_LIBRARY_PATH shows install's the lib folder

[2018-05-29 07:49] MarjorieCoulin commented on #122
Same as @paperkettle

("long dependency quest", indeed)

[2018-05-29 09:08] paulparneix opened #123 "Plot features in 2D"
Quick feature suggestion :
It would be nice to have the ability to plot detected features in 2D image view. I use it a lot in other photogrammetry solutions to select the right detector sensitivity for each specific dataset.

Not sure what would be the best way to implement it, C++ QT extension, or pure python solution ?

Thanks.

[2018-05-29 15:33] yann-lty commented on #123
This is something we started prototyping and it can actually be done in pure Python/QML, since generated feature files are easily parseable text files - one feature per line with `x y orientation scale` data.
Regarding implementation: the idea is to create a custom QQuickItem (i.e FeatureReader) in Python, taking a path to a feature file through a 'source' property. When this property is set, it l

[2018-05-29 17:35] vmchaz opened #124 "Make a VirtualBox image with pre-built binaries"
I see that some people have troubles with getting through the "dependencies quest", but they still want to try this software. I think it the best solution - to upload a virtual machine image where AliceVision and MeshRoom are already built (with sources, of course) - so anyone could download it and run.

[2018-05-29 23:47] paperkettle commented on #124
I originally started working to setup AliceVision core libs in a new Docker container but figured I'd bump into major issues trying to get the Meshroom GUI working. Tho if the lib offers good results and I have time to wrap my head around the project more deeply I'd consider working on a web frontend which might make it viable.

Maybe something like Flatpack is also an option? Tho only addresses t

[2018-05-29 23:57] vmchaz commented on #124
Any of these options are OK. I said about Virtualbox image because I saw NeST (neuron simulation tool) could be downloaded as a vbox image also, and this (despite its definitely large size) really helps starting using the software right after downloading.
So you could try this as the first (and easiest) option. (Though, those who want to use CUDA couldnt use it inside vbox without extra configurin

[2018-05-30 13:15] antithing opened #125 "pyside setup, setup.py, error in file?"
I am trying to build meshroom following the instruction. When I run:

`git clone --recursive --branch 5.9 https://codereview.qt-project.org/pyside/pyside-setup `

`cd pyside-setup`

`python setup.py --ignore-git install --cmake="C:/Program Files/CMake/bin/cmake.exe" --qmake="C:/Qt/5.10.0/winrt_x64_msvc2017/bin/qmake.exe"`

it gives me the following error:

[code]

[2018-05-30 14:37] antithing commented on #125
Sytrange, that gives me:   `Fatal error in launcher: Unable to create process using '"'`

[2018-05-30 15:00] antithing commented on #125
python 2.7.15 fixes this.

[2018-05-30 15:01] antithing commented on #125
But running:

 python meshroom\ui

gives me:

[code]

[2018-05-30 15:11] antithing commented on #125
got it! thanks. I am almost there...

PS C:\Python2715\Lib\site-packages> python meshroom/ui
Plugins loaded:  CameraCalibration, CameraConnection, CameraInit, CameraLocalization, CameraRigCalibration, CameraRigLocalization, ConvertAnimatedCamera, ConvertSfMFormat, DepthMap, DepthMapFilter, ExportMayaMVG, FeatureExtraction, FeatureMatching, ImageMatching, ImageMatchingMultiSfM, KeyframeSelection, M

[2018-05-30 15:13] fabiencastan commented on #125
You are good!
simpleFarm is just a warning (even if it's unfortunately written "error").

[2018-05-30 16:14] yann-lty commented on #125
Do you have the full log to see if it's the only error you get ? It may have failed to create this file for another reason.
Could you try to save your project somewhere (File > Save As...) ? The cache folder will be created next to the project file.

[2018-05-30 16:33] antithing commented on #125
Created new project, saved as. Drag an image in:

[code]

[2018-05-30 16:45] yann-lty commented on #125
AliceVision's binaries must be in your PATH when using Meshroom. Could you try adding the (release) build folder to your PATH before launching meshroom: `set PATH=path\to\alicevision\build;%PATH%` ?

[2018-05-30 16:56] antithing commented on #125
AH of course! That did it. Thank you again.

[2018-05-31 20:09] fabiencastan commented on #124
Yes, with cuda Docker and VM are not so easy to setup.
IMO, Flatpak and/or snapcraft packages would be the most convenient solution for Linux.

[2018-06-03 02:41] dreness commented on #125
I'm having a really hard time getting PySide2 / Qt to work correctly from meshroom, so I hope anyone who can get this to work can share a bit of info about their setup. Specifically, I am leaning heavily on vcpkg to get all the deps for AliceVision (including various that use Qt, such as opencv), however vcpkg's Qt is too old for the PySide2 wheel, so I've also installed Qt 5.10 using the vendor's

[2018-06-03 06:59] dreness commented on #125
Maybe I'm just an idiot and the PySide2 wheel actually has enough Qt that I didn't need to install it separately. The install doc says "Pyside2 (for Qt >= 5.10)", which to me implies "this works with Qt versions greater than or equal to 5.10", so... I'm confused :)

In any case, I feel like this is probably the source of the version conflict...

[code]

If I simple move aside my system-wide instal

[2018-06-03 07:51] yann-lty commented on #125
PySide wheels are indeed enough. They come with needed Qt's files and binaries. You don't have to install Qt separately. And none of mandatory AliceVision dependencies requires Qt. Even (optional) OpenCV can be built without Qt using vcpkg. Using the pip command to install PySide2 (based on Qt 5.11) stated above and in the docs is sufficient. If documentation is confusing, we should probably updat

[2018-06-03 07:52] dreness commented on #122
I had the missing cameraInit.sfm problem because I moved my AliceVision installation but forgot to update the ```ALICEVISION_SENSOR_DB``` and ```ALICEVISION_VOCTREE``` environment vars. Now that I've fixed those, I can import photos into the UI without any explosions.

[code]
(drag some photos in)
[code]

[2018-06-03 20:17] fabiencastan opened #126 "Add GPU statistics"
There is no GPU support in psutil. It is in discussion for a long time here: https://github.com/giampaolo/psutil/issues/526

But we may use alternatives:
https://github.com/wookayin/gpustat
https://github.com/anderskm/gputil

[2018-06-04 02:38] dreness commented on #125
@yann-lty Thanks for the confirmation. I guess the thing to note is that if there's another Qt installation (that's in PATH), it probably needs to be the same version as what PySide2 is bundling. I never did pinpoint exactly how my pre-existing (non-PySide2) Qt is getting pulled in at runtime, but I'm fairly sure that it's happening, at least on my machine.

[2018-06-05 06:28] dreness opened #127 "Windows: Live Reconstruction path selected via browser is invalid"
On Windows, when selecting a "Live Reconstruction" path by clicking the folder icon and browsing to the desired folder, the resulting path is invalid because it starts with a "/".

![mehsroom-live-reconstruction-path-invalid](https://user-images.githubusercontent.com/5242016/40957838-aced7da4-684b-11e8-9c11-822b4e88c3ae.png)

[code]

Removing the leading "/" makes the path valid. This problem seem

[2018-06-06 05:29] steren opened #128 "Provide binaries for Windows/macOS/Linux"
For users who are not comfortable following the installation steps, I would recommend providing pre-built binaries.
These could be hosted on the releases page of this GitHub repository.

I suppose that this would greatly help with the adoption of this software, as there are not a lot of free and open source photogrametry software of such quality.

[2018-06-06 08:13] yann-lty commented on #128
Hi Steren,
Can't agree more regarding binaries ! We are currently working on this (for AliceVision/Meshroom) and target the end of June for a release.

[2018-06-07 20:38] argotan opened #130 "Alicevision/Meshroom inside blender"
Have you thought about porting it to integrate it into blender ?, as meshroom is made with python and blender also has a python api. I think it would be very quick for them to adapt. And especially with the new version of blender 2.80, with the workspaces. You could make a specific workspace for Alicevision and Meshroom

[2018-06-21 15:31] MarjorieCoulin commented on #122
I believe AliceVision was correctly installed, at least I have a bunch of bin,lib,include,etc. in C:\Program Files (x86)\aliceVision

I set a few environment variables as requested in meshroom install.md, naming
[Powershell, Windows 10]
$env:Path = $env:Path + ";C:\Program Files (x86)\aliceVision\;C:\Program Files (x86)\aliceVision\bin;C:\Program Files (x86)\aliceVision\lib"
$env:PYTHONPATH="E:\me

[2018-06-21 15:47] MarjorieCoulin commented on #122
Weird thing probably not linked to the issue, but still :
When I try to launch the UI with Powershell in administrator mode, I can't even drag and drop images in the panel, I get a "forbidden" mouse cursor. I don't have the issue in normal mode.

[2018-07-05 14:04] riematrix opened #139 "std::out_of_range Error during FeatureExtraction"
I got this error while executing feature extraction step.
i'm using ububtu 14.04 and python2.7

hope someone helping me out

[1/1](1/3) FeatureExtraction
 - commandLine: aliceVision_featureExtraction  --describerTypes sift --forceCpuExtraction True --verboseLevel info --input "/home/zj/data/ke/MeshroomCache/CameraInit/5e4a524c4f3c4698188a8a7acb5a6010f1834957/cameraInit.sfm" --describerPreset norma

[2018-07-05 14:15] yann-lty commented on #139
We've merged some [changes](https://github.com/alicevision/AliceVision/pull/410/commits/e87ff05f4d7ebe4cd7933b65b05799a7d5dd5af1) recently on the 'feature' module in AliceVision in order to unify cases, and describer types are now lowercase. Could you try to pull AliceVision's develop branch, build it and run Meshroom (also up-to-date on develop) again ?

[2018-07-05 14:49] yann-lty commented on #127
Good catch and sorry for the delay. We're using a Python helper class (`Filepath`) to manipulate filepaths in a cross-platform way from JS code and missed to fix this one.
I've also fixed a bug preventing the process to finish correctly, which might explain why nothing was happening on your side.

Live reconstruction is meant to be used along with a camera that can transfer images to a computer wh

[2018-07-05 15:48] #127 closed

[2018-07-06 02:50] riematrix commented on #139
Problem solved after update and re-build.

[2018-07-06 02:50] #139 closed

[2018-07-07 10:25] Powerbyte7 opened #143 "Error during structure from motion step"
Hi,
I am trying to make a model but during the structure from motion step i get the following error
[code]
Any advice?

[2018-07-07 10:28] fabiencastan commented on #143
It's required for Meshroom to have AliceVision built with Alembic support.
To ensure that Alembic is used in AliceVision use `cmake -DALICEVISION_USE_ALEMBIC=ON`.

[2018-07-07 11:01] Powerbyte7 commented on #143
It's working now, thanks

[2018-07-07 11:01] #143 closed

[2018-07-07 12:37] fabiencastan commented on #143
Great!

[2018-07-08 22:33] juangea commented on #128
Hi there.

We are in mid July, how are the binaries going? :)

Cheers!

[2018-07-09 09:58] fabiencastan commented on #128
Yes, we are almost ready but there is always one more thing to fix before the release ;)

[2018-07-09 11:04] juangea commented on #128
hehe :)

Release an alpha or beta with bugs and problems, let us suffer it! ;)

[2018-07-11 10:52] richard-bmc opened #145 "The process stopped after the completion of feature extraction"
I tried to run the photogrammetry process in console and GUI. However the process stops after the completion of feature extraction. What should I do to proceed further?

[2018-07-11 15:38] gregoire-dl commented on #145
Hi,
Can you please specify:
- the commit number of your local AliceVision
- the commit number of your local Meshroom

We recently merged a [bug fix](https://github.com/alicevision/AliceVision/commit/9afa9e7af93d2851f3ad1afa0547f4b2e553a708) in AliceVision which could solve your problem.
Could you try to update both repositories and let us now.

[2018-07-11 22:58] deadexile commented on #128
Can't wait to try the binaries, you guys are amazing for doing all this! :D

[2018-07-12 02:43] richard-bmc commented on #145
The commit number of my local AliceVision: a304bddb2bf0e12da87eece006892260bed07664
The commit number of my local Meshroom: 0578adabe738d533d54a7c0ed7e755369b37efc1

[2018-07-13 18:44] alcurb opened #146 "Unable to Add Photos into Meshroom GUI"
I'm running Ubuntu v16.04LTS. I'm stuck in that the Meshroom GUI is not accepting any photo dragged into it. The Images panel highlights in the act of dragging in but image file doesn't drop in; field stays empty. I got the following errors in my terminal:
xx@xx-thinkstation-p900:~/meshroom$ PYTHONPATH=$PWD python meshroom/ui
Plugins loaded:  CameraCalibration, CameraConnection, CameraInit, Camera

[2018-07-13 18:50] alcurb commented on #128
I can hardly wait to DL the binaries for Linux and Windows (why not?). Installing the application the long way leaves a lot of room for something to go wrong in the installation. Which I think has for me since the UI in my install is not accepting image files.

[2018-07-13 19:06] fabiencastan commented on #146
`/bin/sh: 1: aliceVision_cameraInit: not found`

You need to have [AliceVision](https://github.com/alicevision/AliceVision) binaries in your PATH, like:
`export PATH=/path/to/AliceVision/install/bin:$PATH`

[2018-07-13 19:09] fabiencastan commented on #145
It probably stops because the FeatureExtraction node fails.
Can you provide the log of the FeatureExtraction step?

[2018-07-14 23:40] richard-bmc commented on #145
Here's my log of feature extraction(I've remove some lines which are similar to each other):

Program called with the following parameters:
 * describerPreset = "normal"
 * describerTypes = "sift"
 * forceCpuExtraction = 1
 * input = "c:/users/richad/appdata/local/temp/MeshroomCache/CameraInit/5ca542f7a3740880536285cac48aeb2f37a0acf2/cameraInit.sfm"
 * maxThreads = 0 (default)
 * output = "c:/user

[2018-07-15 08:42] fabiencastan commented on #145
Ok, so it seems to be running fine.
What is the status of the node at the end? Does it stop with an "ERROR" on the node (red in meshroom) or is it stuck in "RUNNING" (orange in meshroom)?
You can also check the status in the file: "c:/users/richad/appdata/local/temp/MeshroomCache/FeatureExtraction/3308ca0636bf28959917f00f6d4972a5cd742edf/0.status"

[2018-07-16 04:33] richard-bmc commented on #145
1. The status color of the node was still orange while the pipeline was stocked.
2. Here's the content of the status file(I think it's OK):
[code]
3. And here are some errors I copied from the console:
[code]
[code]
[code]

[2018-07-18 20:30] TravisWu commented on #122
@MarjorieCoulin have you installed QT5 ?

[2018-07-18 20:31] 12xq4 opened #149 "Drag and drop for images is irresponsive"
I have encountered an issue regarding drag and drop of images into the editor. Currently when I mouse over the editor with any photos the cursor is disabled and dropping photos into the viewport have no effect. Meanwhile, the console does not display any additional log.
I am using a x64 Windows 10 PC with GTX 970 GPU, and I built Alice Vision with Visual Studio 2015.4.

Logs after executing python

[2018-07-20 20:48] rygo6 opened #152 "Cannot file .abc file extension?"
I just tried to process a model on Ubuntu through meshlab and it is giving me a number of errors about a .abc file format.

[code]

[code]

Here is the whole output log:
https://gist.github.com/rygo6/0fff75a3a6786429daf8fe3a87b347e4

Any help on this would be appreciated.

[2018-07-21 00:12] rygo6 commented on #152
Discovered this is because I did not have the alembic dev libraries properly installed.

[2018-07-21 00:12] #152 closed

[2018-07-23 00:15] #149 closed

[2018-07-23 07:08] fabiencastan commented on #149
Did you manage to understand and fix the problem?

[2018-07-23 07:09] fabiencastan commented on #146
Did you manage to build AliceVision and use it in Meshroom?

[2018-07-23 07:13] fabiencastan commented on #145
The error: ```Error while trying command 'Set Attribute 'CameraInit_1.intrinsics'' ``` is surprising. I don't understand how you can get that.
@yann-lty Do you have an idea?

[2018-07-23 07:17] fabiencastan commented on #112
I'm closing this issue as the problem with the `setup.py` is now solved and the readme has been updated with the info for opengl drivers.

[2018-07-23 07:17] #112 closed

[2018-07-23 07:19] fabiencastan commented on #124
@simogasp has started to add the support for Docker, if you want to give it a try:
https://github.com/alicevision/meshroom/blob/devDocker/Dockerfile

[2018-07-23 12:10] MarjorieCoulin commented on #122
@fabiencastan No sorry, I got caught by other tasks.

[2018-07-23 20:39] fabiencastan commented on #67
See #155

[2018-07-24 20:32] 12xq4 commented on #149
Hi yea, apparently the solution to this issue is to run meshroom from Powershell (the non-admin version). Would love some explanations.

[2018-07-27 08:32] yann-lty commented on #145
Yes it has been fixed in #156

[2018-07-27 09:51] juangea commented on #128
Pleeeeeease! Make a release :)

[2018-07-27 14:07] christopherweinberg commented on #128
Yes! I just found Meshroom and am trying it out for the first time. The install is a heavy lift but the initial results are promising. A binary release will close the loop between the creatives and the techies.

[2018-07-27 14:10] AlexKucera commented on #128
I would also love a build. It does not have to be perfect. Just label it beta and everyone will understand if it lacks a bit of polish. I tried building it myself (for macOS), but I simply do not have the time to try and fix all these depency errors and stuff.

[2018-07-27 17:03] AndreaMonzini commented on #128
I suggest to add system requirements too, i sadly just discovered that AMD GPU is not supported.

[2018-07-27 18:21] AFWSI commented on #128
X1,000 on a windows release.

[2018-07-28 07:18] michaelbajko commented on #128
Looking forward to this also. Patience, patience.

[2018-07-28 16:33] bartoszek opened #159 "Linux build error: call to `find_fi` is ambiguous."
Have some minor issue when building on the linux host (arch-linux=>gcc:8.1.1,bost:1.67)
Gcc complains about having two definitions of `find_fi`, one in `boost::container` namespace and other in `std::`.
[code]

[2018-07-28 16:41] fabiencastan commented on #159
Hi,
Thanks for the report.
It's related to the [AliceVision library](https://github.com/alicevision/AliceVision) and not really related to the UI part (Meshroom).

This has already been fixed in the AliceVision "develop" branch:
https://github.com/alicevision/AliceVision/blob/develop/src/aliceVision/track/Track.hpp#L372

Could you update your code to the "develop" branch and try again?

[2018-07-28 17:20] bartoszek commented on #159
I was compiling #tag=v1.0, devel version works fine.
Thank for the pointing me to the right solution.

[2018-07-28 17:20] #159 closed

[2018-07-29 07:13] Giorat commented on #128
Looking for windows binaries too. If I compile the project on my pc is it possible to post the resulting exe program as a binary?

[2018-07-29 08:01] fabiencastan commented on #128
We’ve been postponing the release (with linux and windows binaries) for a few weeks, but it should be out this week.

[2018-07-29 12:01] juangea commented on #128
@fabiencastan

Great!!! This is going to be awesome.

Did you solve the mapping problem to be able to calculate the textures even with a super low poly version of the model?

[2018-07-29 12:10] fabiencastan commented on #128
It will not be in this release (to not postpone it again) but I'm currently working on it.
I just get the first results this morning but it's not yet finished.
It will take time to test it on more data sets and adjust...

[2018-07-29 15:19] juangea commented on #128
Awesome!

Yes, don´t postpone because of this, let us play with it already!

I have several possible scenes to test :)

[2018-07-29 15:38] Giorat commented on #128
@fabiencastan I have seen that meshroom has been talked a lot on twitter with blender3d people I follow and general 3d artists/makers. I suggest you to make an official patreon cause you might get some donations after the release of the binaries cause people have been waiting a lot for your great software! 😄

[2018-08-01 13:12] abszolut opened #160 "Error on node computation: 'ListAttribute' object is not iterable"
I'm running Windows 10. I have managed to make this with GUI but I have this issue with command line.
Thank you for the answer.

c:\Users\abszolut\Repos\meshroom>python bin/meshroom_photogrammetry --input E:\pic\cnc_rabbit_symbol --output    E:\pic\cnc_rabbit_symbol\result

[13/13] Publish
Publish
- elapsed time: 0:00:00.062456
[2018-08-01 14:41:12,884][ERROR] Error on node computation: 'ListAttri

[2018-08-01 13:35] fabiencastan opened #162 "Add meshroom_photogrammetry unit test"
`meshroom_photogrammetry -i /tmp/input -o /tmp/output --save "testScene.mg"`

The save option disables the computation, so it will just check the graph creation.

[2018-08-01 13:46] simogasp commented on #162
can we also add a `--dry_run` option that just prints out the command lines that will be called?

[2018-08-01 13:58] fabiencastan commented on #162
Yes, would be great but in another PR as it's less trivial.
This first test would already check most of the behaviors and avoid to break the command line while improving the UI.

[2018-08-01 15:45] #160 closed

[2018-08-01 15:50] yann-lty commented on #160
Thanks for the bug report, it's been fixed in #161 and merged in develop.

[2018-08-01 23:14] bryceartstew commented on #128
@fabiencastan @yann-lty and anyone else working on this project, thank you for the time and energy to make binaries for Windows/macOS/Linux because I've tried to compile this myself and its wasting me away. I've been using a website called Altizure but they render the scans oddly and make it difficult for me to clean the models up. I've used the paid software and they do work, I just can't afford

[2018-08-02 20:35] bartoszek commented on #128
@bryceartstew @alcurb: For Arch-Linux you can try my packages [meshroom/alice-vision@AUR](https://aur.archlinux.org/packages/meshroom/), I can also create snap/flatpak for alice-vision/meshroom witch will provide for other distors :blush:

[2018-08-02 21:43] verbal007 commented on #128
@bartoszek :   Thanks for doing this. Feels like I'm getting closer and closer to trying out meshroom. I just tried your package it and ran into the following issue...
error: target not found: opengv

[2018-08-02 21:48] bartoszek commented on #128
@verbal007: openegv is provided by opengv-git package. _Will update deps array, to make aur helpers live easier._

[2018-08-03 00:18] verbal007 commented on #128
That was fast!

Ok, after it's been building for a few hours, I made it as far as the
opengv, and got this:

==> Building and installing package
==> Making package: opengv-git r91.0b2017d-1 (Thu 02 Aug 2018 05:13:53 PM
PDT)
==> Checking runtime dependencies...
==> Checking buildtime dependencies...
==> Retrieving sources...
  -> Updating opengv git repo...
Fetching origin
  -> Found 61.patch
==> V

[2018-08-03 03:09] bartoszek commented on #128
@verbal007 opengv isn't mine, so I can't fix it immediately. Issue is they are using pull request as a patch without setting checksum to SKIP.
_Just edit the PKGBUILD for opemgv-git and change change checksum to SKIP_

[2018-08-03 07:26] verbal007 commented on #128
Gotcha.

alicevision had a md5sum variable with some hashes and replaced them (the
remaining half) with SKIP.

Then the opengv-git had a sha256sums variable with a "SKIP" and a hash...
and dropped SKIP in there too.

Yet... no luck.

Got this:

==> Edit PKGBUILD ? [Y/n] ("A" to abort)
==> ------------------------------------
==>

==> opengv-git dependencies:
 - boost-libs (already installed)
 - ei

[2018-08-03 12:35] ZX-WT commented on #128
@bartoszek any chance for appimage?

[2018-08-03 12:42] bartoszek commented on #128
@verbal007 Yep, `opengv-git` is missing dependency `python2-numpy`.
Please modify opengv-git PKGBUILD accordingly, and rebuild (already poke a maintainer to fix this)
[code]

[2018-08-03 18:24] verbal007 commented on #128
@bartoszek : Learning about build packages... slowly but surely.

The installation seems to have completed, though there's the message at the end (is it a fatal error?):
[code]
To test it, I found the installation location and when I execute Meshroom, this is what I get :
[code]

[2018-08-05 06:14] rygo6 commented on #152
Asked for more info.

Installing this on ubuntu, I ended up having to manually download the alembic repo and build it. Then using that as the dependency.

[2018-08-05 16:57] bartoszek commented on #128
@verbal007: There was a missing dependency (qt5-quickcontrols2), check if it works no.

[2018-08-05 18:57] verbal007 commented on #128
@bartoszek : Getting this now:

[code]

[2018-08-05 19:46] bartoszek commented on #128
@verbal007 Now, it should be finally complete, please test and report if anything else is missing.

[2018-08-05 22:39] verbal007 commented on #128
@bartoszek : Squeaking closer to the finish...  but not quite there yet.  Here's what I'm getting now:

[code]

[2018-08-06 06:08] bartoszek commented on #128
Ok, switched to more systematic solution:
`strace -e trace=open,openat Meshroom 2>&1|grep '/usr/lib/qt/'|cut -d'"' -f2|pacman -Qo -|cut -d' ' -f4|sort -u & sleep 3; pkill Meshroom`
Should show all deps in one go. @verbal007 test the package now.

[2018-08-06 14:17] bartoszek commented on #128
@ZX-WT I stumbled upon a kernel compatibility issue with snapcrafts core and Arch's kernel. I will switch to Ubuntu and tried to prepare a snap image, perhaps at the weekend :smirk_cat:

[2018-08-06 16:51] johnhable commented on #128
Hi,

Thanks for all the hard work on cleaning up the build process! Just confirming for you that I was able to build the Release/MD build on windows. I followed the latest version of the instructions, and everything worked.

In the past I had some issues, in particular with vcpkg having the incorrect/older versions. But at the moment Release/MD is working on Windows. There are some issues with Deb

[2018-08-06 18:05] verbal007 commented on #128
@bartoszek : !! SUCCESS !!

Ran a set of images and it completed with results. Now I have to set aside appropriate time to dig in and play with this... hoping I can get some better results with the furry beast I just tested Meshroom on.

Thank you for all your help.  Finally, Meshroom feels like...  like it's real!  :+1:

[2018-08-06 20:11] bartoszek commented on #128
@verbal007: From my point of view, your contribution was essential :tada:

[2018-08-06 22:25] juangea commented on #128
No pressure (seriously, no pressure, thanks for all your work), but how are the binaries going in the kitchen?

Abemus binaries? :)

[2018-08-07 02:40] ras0219-msft commented on #128
@johnhable which particular packages had outdated versions?

[2018-08-07 04:56] verbal007 commented on #128
@bartoszek , well Sir, if you are Siggraph/Vancouver next week... we can buy each other a drink (tea/coffee/whatever). I noticed that Alicevision is having a meetup in a conference room on Monday at 3:30pm PST. You can reach me directly via contact form on my site verbal007.com. *tips hat* Sincerely appreciate the manjaro builds (not just this one). Will fill you in if/when I have a chance to test

[2018-08-07 05:31] johnhable commented on #128
@ras0219-msft: These were problems about two months ago, that are fixed now. IIRC OpenImageIO was on version 1.7, which wasn't working because Alicevision requires 1.8 functionality. It works now, at least for MD.

For Debug builds or statically linked builds, there are still several issues, but I don't want to spam the list if it's not a priority.

[2018-08-07 07:09] bartoszek commented on #128
@verbal007 , I appreciate the proposition, sadly those type events are currently out of reach for me :pensive: @{central_europe, freelance, student} Maybe in the future I will have a pleasure to meet with you, sir. :blush:

[2018-08-07 21:09] verbal007 opened #170 "Alembic crash when loading in Blender"
Having the ability to bring the cameras + images into Blender would be priceless for touching up and correcting geometry and texture of a scanned model. Was curious to see how far the Alembic files would take me towards this goal, but...

Loading the files crash Blender. I've tested other alembic files (60GB animated geometry) and it works ok... but not these scenes.

Curious if these Alembic file

[2018-08-08 09:12] richard-bmc commented on #145
My problem remains. I have updated AliceVision(1134635) and Meshroom(4d213f9). Each time I start the process in Meshroom UI, it always stops at "feature extraction" stage. Then I restart the process again. It will proceed normally but always stops at "structure from motion" stage.
However, I do have a good output(sfm.abc, as the image uploaded), and the log of SfM shows the process has completed s

[2018-08-08 09:43] richard-bmc commented on #145
I found another weird thing. I copied the arguments for SfM and execute aliceVision_incrementalSfM.exe in console, it worked normally except it didn't terminate. Neither pressing "Ctrl + C" nor "Ctrl + Break" can stop it. I have to stop it from task manager.

[2018-08-08 15:49] verbal007 commented on #170
@simogasp , thanks for checking this out. I initially tried the file on two different computers that are both running Manjaro w/ Blender 2.79b.  I also *just* tried it again on a Windows 10 partition that is running 2.79 and it crashed there too.

[2018-08-08 16:38] bartoszek opened #171 "QtOIIO and qmlAlembic install path on Linux."
I was trying to extend mesroom with qt plugins (OIIO,Alembic). I have some issues with installation prefixes on Linux host. Here's what I've got:
Relevent parts of packaging script (arch:PKGBUILD{bash}).
[code]
Rationale:
- L39: Based upon `qt5-svg` found out that imageformats are located in /usr/qt/plugins
- L44,48: Based upon 'qt5-3d` fournd out that qml's gets installed in /usr/qt

Resulting in

[2018-08-08 19:32] fabiencastan commented on #170
@verbal007 Can you make a bug report on Blender?

[2018-08-09 04:02] verbal007 commented on #170
@fabiencastan , No problem.  I will set myself a reminder for next week. I'm prepping some stuff for Siggraph... and... yeah, running/ran out of time... and haven't used Blender's bug system yet... so will probably take me longer than norm.

[2018-08-09 19:28] yann-lty commented on #128
@juangea  Habemus Binaries !

[Meshroom 2018.1.0](https://github.com/alicevision/meshroom/releases/tag/v2018.1.0) is finally available for download on Windows and Linux, as an all-in-one package that contains AliceVision and all required resources.
Thank you all for your support and involvement, we can't wait to get your feedback on this release and see your 3D scan results !

[2018-08-09 20:13] AFWSI opened #174 "Can’t save project with name of a folder?"
Is this a bug? I created a main folder for my meshroom project. Within that folder, I created a folder for pictures and tried to save the project as the same name as the folder. Instead of saving, it entered the folder with the same name.

[2018-08-09 20:51] verbal007 commented on #128
Got it!  Downloaded all 400MB, loaded up some photos and am currently processing on Manjaro (linux) XFCE.  Nice one...  and just in time for Siggraph.  See you soon.  ;)
![meshroombuild](https://user-images.githubusercontent.com/5015124/43925139-559f7a16-9bdb-11e8-8ba0-d32e877d0fc0.png)

[2018-08-09 21:11] bryceartstew commented on #128
The one day I have to work until 12p!!!! Thank you so much for getting this together! Everyone involved. I will be installing and testing asap. I'll provide feedback and scans once I've run through it all. Thank you thank you thank you

[2018-08-09 21:51] juangea opened #175 "Bad multithreading?"
Hi there.

I just downloaded the binaries and I´m trying them with a small project I did recently with RC.

The first thing I noticed was that it was slower than RC; but then I checked out the CPU usage and it was between 2% and 10%, I have 16 threads with 8 cores (i7-5960x).

Is this a bug or is it normal because it depends on the complexity of the reconstruction?

Cheers!

[2018-08-09 21:52] juangea opened #176 "Can´t drag from the node points"
I´m trying to connect a point from a node to a different point in a different node but I´m not being able to drag the "cable" to connect both of them

Should I press some key or something to be able to connect two nodes?

Cheers!

[2018-08-09 21:54] juangea opened #177 "Can we use markers to help in the reconstruction / alignment?"
Hi there.

To do a big scene reconstruction with as much precission as possible, can we use some markers that we can place in the space to help with the reconstruction later?

Cheers.

[2018-08-09 22:30] juangea commented on #128
Thanks! Trying it already! :)

[2018-08-09 22:34] michaelbajko commented on #128
Well done. Many thanks.

On 10/08/2018 7:28 a.m., Yann Lanthony wrote:

[2018-08-10 02:44] steren opened #178 "Windows Defender prevents from opening the Windows executable"
Windows Defender SmartScreen forbids me from executing the Meshroom executable.

I guess it is because it is of unknown editor.
I am not sure what can be done, maybe sign the binary?

[2018-08-10 02:57] christopherweinberg commented on #128
Thank you!

[2018-08-10 04:14] steren opened #179 "Reconstruction fails: "Sensor width doesn't exist in the database""
I get this error at the `CameraInit` step:

Do you know how I can add to the database?

[2018-08-10 04:46] vrue360 opened #180 "couldn't load SfM"
I success the build of qmlAlembic and link the meshroom, so there is SfM UI in meshroom but SfM can't load. It has infinit loading.

What can I do?

===============log============

Microsoft Windows [Version 10.0.17134.191]
(c) 2018 Microsoft Corporation. All rights reserved.

C:\Users\user>cd c:\project\meshroom

c:\project\meshroom>set PYTHONPATH=%CD% && python meshroom/ui
Plugins loaded:  Camer

[2018-08-10 04:46] steren opened #181 "Errors are not very visible"
I click 'Start', I see a red progress bar at the top of the screen

It was not very visible that the first node of the graph was red.
Furthermore, after clicking it, I had to open "Log" to see the actual error.

[2018-08-10 09:04] simogasp commented on #178
I think you can add an exception for the executables.

https://support.microsoft.com/en-us/help/4028485/windows-10-add-an-exclusion-to-windows-defender-antivirus

[2018-08-10 09:35] simogasp commented on #179
According to your settings (using binaries or bravely building from scratch) you should have a file named `cameraSensors.db`.
Despite the extension, it is just a plain text (csv) containing the information of different cameras/devices.
The format is (semicolon is the separator):
[code]
According to this
https://www.devicespecifications.com/en/model/a95e3ed6
the Google Pixel XL sensor width is `6.2

[2018-08-10 09:40] simogasp commented on #176
Normally you should use a right click to remove the link between nodes (if you need to do that).
Then to connect two nodes, just click on the white circle/square representing the parameter and drag it to the other parameter you want to connect.

[2018-08-10 09:43] simogasp commented on #180
Is it possible that the SfM didn't work? Is the progress bar green or red?

You can also post the content of the log file `C:/Users/user/AppData/Local/Temp/MeshroomCache/StructureFromMotion/e9d2b41afe98ba8b4c3c609451b158247c3e3872/log` to have a better idea of what happened.

[2018-08-10 09:50] juangea commented on #176
The problem was that for some reason the circles were not lighting up in white, so I was not able to drage the connector, after a while it came back and I were able to connect two nodes.

Thanks!

[2018-08-10 09:50] #176 closed

[2018-08-10 10:00] kakakakaaka commented on #180
progress bar is green....
SfM is working successly, but I can't see output of SfM in the 3D viewer.

[2018-08-10 10:05] simogasp commented on #180
ok just to be sure, did you also set the `QML2_IMPORT_PATH=/path/to/qmlAlembic/install/qml` pointing to the install dir of qmlAlembic before launching?

In the 3D Viewer pane do you see the 4 ticks Sfm, Mesh, Grid and locator (see image)?
![image](https://user-images.githubusercontent.com/1331744/43952205-837dfa10-9c95-11e8-9505-fc1463ff9191.png)

If it is so, try to drag and drop in the 3D Viewer

[2018-08-10 10:28] nickblock opened #182 "Not recognizing my GPU"
I'm getting this error:
[error] This program needs a CUDA-Enabled GPU (with at least compute capability 2.0).

I'm running on Windows 10, GeForce GTX 1080, driver 385.54

Any ideas?

[2018-08-10 11:30] Rimasson opened #183 "Windows7: StructureFromMotion is stuck at the end"
System specs : win 7 64bits + Geforce GTX 770
I open Meshroom
I import some pictures from the doll gallery
http://www.agisoft.com/downloads/sample-data/

1/  When i click "start" on the top bar, meshroom halt on the feature extraction node that remain orange

2/ When i launch the computation by rightclicking on a node in the graph window, meshroom halt on the "structure from motion" node that rema

[2018-08-10 12:14] xymox12 commented on #183
System specs: Win 7 64bits - Intel HD graphics

Same issue as above

[2018-08-10 12:47] ChemicalXandco commented on #183
Isn't this is an issue with [https://github.com/alicevision/AliceVision](url), not meshroom?

[2018-08-10 13:08] enzyme69 commented on #183
Same here. I don't think it is using GPU in my case (Quadro FX 4000, old). It seems to run for few seconds, then stop. Then I try starting again, it moves, and stop again at StuctureFromMotion.

[2018-08-10 13:14] simogasp commented on #183
can you post the log file of the step that seems to fail?
If you look in the console, for each step there is a short log like this

[1/5] CameraInit
 - commandLine: aliceVision_cameraInit  --sensorDatabase "" --defaultFieldOfView 45.0 --verboseLevel info --output "C:/Users/user/AppData/Local/Temp/MeshroomCache/CameraInit/0289b0ba86f5e05f25cafdbab107df95b0779945/cameraInit.sfm" --allowSingleView 1

[2018-08-10 14:51] simogasp commented on #179
It's in AliceVision
https://github.com/alicevision/AliceVision/tree/develop/src/aliceVision/sensorDB

I will update the file with your sensor (BTW did it work?). To date, the only way to keep it updated is for people to pull request the values of missing devices.
It would be nice to have a script that periodically harvests websites like
https://www.digicamdb.com/
or
https://www.devicespecification

[2018-08-10 15:08] steren commented on #179
Thanks. I will let you know if it worked later today.

I tried to look for this file but did not find it, mainly because it does
not have the same extension as the distributed file.  I recommend renaming
in I your repo to match the name of the distributed file.
Also, I recommend adding this information somewhere in your docs.

On Fri, Aug 10, 2018, 07:51 Simone Gasparini <notifications@github.com>

[2018-08-10 15:16] simogasp commented on #179
What's the name on your version?
It has been renamed in the rush for generating the binaries and maybe there is an incongruence.

[2018-08-10 15:38] xymox12 commented on #183
As I am not the original poster I won't fill up this with my logs but if it helps as above its on the StructureFromMotion it just hangs - the log for this is at [https://pastebin.com/0szMF1Zm](https://pastebin.com/0szMF1Zm)

[2018-08-10 15:58] AndreaMonzini commented on #128
I am able to run Meshroom binary with my Linux but unfortunately my AMD GPU ( RX 580) is not supported to complete the reconstruction. I hope in a future AMD GPU support ( with users contributions), maybe with the AMD HIP porting.

[2018-08-10 15:58] Rimasson commented on #183
OK. Here are the logs :
1rst try.
Meshroom halt at feature extraction
Feature extraction node is orange

Program called with the following parameters:
 * describerPreset = "normal"
 * describerTypes = "sift"
 * forceCpuExtraction = 1
 * input = "C:/Users/ffrima/AppData/Local/Temp/MeshroomCache/CameraInit/5f5532f78114dee7e9b12a040b765657dab8799b/cameraInit.sfm"
 * maxThreads = 0 (default)
 * output

[2018-08-10 15:59] simogasp commented on #183
thanks @xymox12 . The sfm part seems to be ok and working well till the end (and indeed u can see the abc). It could be something from Meshroom but I am not much an expert of the meshroom part. We need @yann-lty .

So do you also have the hang at the beginning during the feature extraction?
(BTW, unrelated, but if you don't have a NVIDIA card you won't be able to go further in the pipeline)

[2018-08-10 16:03] simogasp commented on #183
it seems related to #145 but it was supposed to be fixed...

[2018-08-10 16:04] simogasp commented on #183
@Rimasson
Same for you, if you drag&drop `C:/Users/ffrima/AppData/Local/Temp/MeshroomCache/StructureFromMotion/d6d67ecf8764052a7f008b85b191ce1d4e9e7348/sfm.abc` into the 3D Viewer can u see the camera and the points?

[2018-08-10 17:10] Rimasson commented on #183
@simogasp
Yes
When Mushroom halt on the orange structurefrommotion node, if i stop the process, dotted model and cameras appear in the 3d view and the structurefrommotion node turn red

[2018-08-10 18:18] steren commented on #179
Sorry, I should have been clearer: I did not find this file in the
repository, thus I did not know how to send a Pull Request to this file.

On Fri, Aug 10, 2018, 08:16 Simone Gasparini <notifications@github.com>
wrote:

[2018-08-11 18:02] GeoffreyMarchal commented on #182
Same for me with a GeForce GTX 960m

[2018-08-11 19:40] steren commented on #179
It worked like a charm with this value. (see [model](https://sketchfab.com/models/0e0d713db099453b83f561985932e294))

[2018-08-12 14:33] AFWSI commented on #182
@nickblock and @GeoffreyMarchal try reinstalling or updating your driver. Here’s a meshroom thread on https://blenderartist.org and few people ran into the same issue.

https://blenderartists.org/t/meshroom-free-photogrammetry/1120286/62

[2018-08-13 08:53] xymox12 commented on #183
@simogasp thanks for pointing that out (a bit of a doh! moment for me)- you are right, my computer at work doesn't have CUDA. Luckily my laptop does so I moved across to my laptop and it ran through my 62 test  images to completion with no problem at all (it took a long time as my GPU is rubbish.) So my report of an issue was of my own making and is resolved. Thanks for the help - got a nice resul

[2018-08-13 09:31] simogasp commented on #180
can u share the .abc somewhere?

[2018-08-13 09:34] kakakakaaka commented on #180
If you say that the .abc files where is, the path is "C:\Users\user\AppData\Local\Temp\MeshroomCache\StructureFromMotion\d146c1d569ef52ce7e5e0fdd3d6a00994f77da97"

[2018-08-13 09:35] simogasp commented on #180
yes i mean if you can upload the file somewhere so i can have a look

[2018-08-13 09:49] kakakakaaka commented on #180
oh, I see. You want to get my .abc file, right?

[sfm.zip](https://github.com/alicevision/meshroom/files/2282506/sfm.zip)

[2018-08-13 10:08] simogasp commented on #180
ok the abc seems fine
![image](https://user-images.githubusercontent.com/1331744/44025464-8736c59e-9ef0-11e8-9cf8-2720b61f3e5c.png)
(there are no points because I myself have a problem with the shaders on my Mac) This is what it looks like in Maya
![image](https://user-images.githubusercontent.com/1331744/44025775-4bd606d0-9ef1-11e8-85fd-97afe194d9ad.png)

So maybe it's once again this issue #145

[2018-08-13 10:09] simogasp commented on #180
and BTW are there any logs in the terminal when you load the abc?

[2018-08-13 13:01] ZX-WT opened #185 "Cannot launch the linux binary on linux mint 17.2"
Nothing happen after double clicking the executable, so I start it with terminal and the following error occurred
[code]
Just in case it is related to the locale I am using ,I am using Traditional Chinese.

[2018-08-13 13:43] nickblock commented on #182
Yeah updating to 398.82 did it, cheers.

[2018-08-13 13:43] #182 closed

[2018-08-13 15:15] AFWSI opened #186 "Documentation?"
Are you guys gonna make any documentation since there’s now a “release”?  I can’t figure out why half of my pictures fail and why the cameras are always lined up about a 30 degree angle from the ground. I’m sure tweaking some settings will prolly help with this ,but which ones on which node is the question. Some documentation on these settings would be nice.

[2018-08-13 15:16] patdavid commented on #183
I'm seeing the same problem with Win10 + Meshroom 2018.1.0 download.  Trying to compute SfM causes a crash. :(

[2018-08-13 15:17] simogasp commented on #183
a crash or just stuck on orange/red status?

[2018-08-13 15:30] robertguetzkow opened #187 "IDs editable in node settings"
The UI allows to edit the automatically generated IDs in the node properties. These fields should be disabled / not editable.

![2018_08_13_editable_ids](https://user-images.githubusercontent.com/25986807/44041612-7ed4c03a-9f1e-11e8-9d6e-c61971d56a6d.jpg)

[2018-08-13 17:53] robertguetzkow opened #188 "Image masking"
I'd suggest image masking as a feature for future version of Meshlab. Masked areas should not be used for keypoint detection nor for depth maps and texture generation. A simple import of masks in the form of binary images would be enough.

Thank you for developing this great photogrammetry software!

[2018-08-13 20:34] supertobi opened #189 "Make CUBA suppot optinal"
It would be nice, if it would be possible to use meshroom with an AMD GPU or a CPU, even if this would be slow.

[2018-08-14 00:28] kakakakaaka commented on #180
No.. I can't see any reaction.. but I changed the app.py to check meshroom output qml warning. Then, I saw new error!
The error is :
file:///C:/project/meshroom/meshroom/ui/qml/Viewer/Viewer3D.qml:325: Error: Cannot assign QObject* to Qt3DCore::QEntity*

How can I assign that??

[2018-08-14 08:54] Powerbyte7 commented on #189
This has already been asked [here](https://github.com/alicevision/AliceVision/issues/439)

[2018-08-14 09:00] supertobi commented on #189
OK, then I close this report.

[2018-08-14 09:00] #189 closed

[2018-08-14 09:29] Urdwex commented on #179
Hi, I got the same error, the camera is already in the db file and I additionally added it to the db file.

[11:19:59.770947][error] Sensor width doesn't exist in the database for image(s) :
[11:19:59.771946][error] image: '14_05.jpg'
        - camera brand: Canon
        - camera model: Canon EOS 1200D

`Canon;Canon EOS 1200D;22.3`

[2018-08-14 09:35] simogasp commented on #179
did u add it just after `Canon;Canon EOS 1000D;22.2`?

[2018-08-14 11:35] AFWSI opened #190 "Load mesh button"
OK, so yesterday I did a small piece of petrified wood. Once everything was completed, I never got the load mesh button and had to manually load the mesh from the folder. I noticed if I open the saved project the button shows up. I have done 4 different projects and this is the first time it has never given me the load mesh button when completed.

[2018-08-14 13:01] Urdwex commented on #179
No, I added it between.

[code]
It doesn't work either when adding it after
`Canon;Canon EOS 1000D;22.2`

[2018-08-14 14:37] Sarngond commented on #179
@simogasp
the line is already in the code. It looks like this though:
Sony;Sony Cybershot DSC HX60;6.16
Sony;Sony CyberShot DSC HX7V;6.16
Sony;Sony CyberShot DSC HX9V;6.16

[2018-08-14 14:55] simogasp commented on #179
@Sarngond sorry i read your message too quickly... I guess you need to add that '-' so that the line reads
[code]
The comparisons are case insensitive but they are not smart enough to catch these subtle variations and it really depends on each model what is written in the EXIF.

[2018-08-14 15:18] simogasp commented on #179
@Urdwex I tested on AliceVision and it works fine fine for me with that line. Can you share just one image taken with that camera so I can test it?

[2018-08-14 16:55] Sarngond commented on #179
![dsc02707](https://user-images.githubusercontent.com/39218593/44105981-f2b0ea0c-9fb8-11e8-9f5d-4fad14345cec.JPG)

[2018-08-14 17:02] Sarngond commented on #179
I added the ' - ' to where it looks like:
Sony;Sony Cybershot DSC HX60;6.16
Sony;Sony CyberShot DSC-HX7V;6.16
Sony;Sony CyberShot DSC HX9V;6.16
but it still doesn't work. Also, when you say Alicevision, you are including Meshroom right?

[2018-08-14 17:03] snarkrans opened #191 "Share results?"
https://sketchfab.com/models/cc5bc5d9faf4449c9d3478af482ae5d7

[2018-08-14 18:48] aavenel opened #192 "CCTag not included in Meshroom 2018.1"
Hi,

Thanks for your great tool!
I tried to extract features by using CCtag3, but unfortunately the process failed.
If I launch `aliceVision_featureExtraction` by using command line, CCtag describer type is not listed.
I am using Meshroom 2018.1 release.
[code]

Looking at the code, I guess that "CCTag 1.0.0" package was not found or ALICEVISION_HAVE_CCTAG is not defined.

Is this an intended beha

[2018-08-14 20:13] peto2006 commented on #179
Today I have downloaded Meshroom and I have problem with Sony DCS-HX9V. When I selected model number in Meshroom log window, I noticed bunch of spaces after model name. I inserted following line to model database:

    SONY;DSC-HX9V               ;6.16

and it works. Seems like image attached above contains those spaces too.

[2018-08-14 20:59] simogasp commented on #179
@Sarngond i tried with your picture and the database with the dash ('-') and it works fine...
Meshroom uses AliceVision executables to run the pipeline, that's why I was talking about that.
Did u build meshroom and alicevision yourself or are u using the provided binary?

[2018-08-14 21:08] simogasp commented on #179
@peto2006 thanks for noticing that! @peto2006 while we try to find a solution to this problem you can try to modify the line with the spaces
[code]
(I hope I inserted the exact numeber of spaces, anyway from your log you can select with the mouse the number of spaces and correct in case)

Just to have all the info, which system are you working on? Windows, Mac, linux, versions etc?

[2018-08-14 22:27] Sarngond commented on #179
@simogasp @peto2006
The space trick worked for me, thanks!

[2018-08-15 04:06] perthvr opened #193 "paramaters to improve alignment success"
Hi
This is a great bit of software I have been using it for the last 5 days with a fair bit of success. The main issue I have is with my lesser quality picture sets. I am having difficulty with both aligning and dense point clouds (even though they work well in colmap and photoscan). What are the best settings for aligning difficult images. For instance increase describer preset  to high, use both

[2018-08-15 09:11] simogasp commented on #179
@Urdwex can you please check in the log if there are spaces after the model, ie
[code]
As you see from the discussion above that could be the issue. in that case u can add the spaces to the line (at least for now, while we investigate and figure out the issue).

[2018-08-15 09:29] Urdwex commented on #179
@simogasp there are no spaces after the model, but a whole line missing before the next log entry. Could this cause the error?

`[11:23:35.251994][error] image: 'X_20_.jpg'
	- camera brand: Canon
	- camera model: Canon EOS 1200D

[11:23:35.252992][error] Please add camera model(s) and sensor width(s) in the database.
`

[2018-08-15 09:43] simogasp commented on #179
no the empty line is always there (but we should maybe remove it from the code)
As a Hail Mary (today it's her holyday after all... :-) ) you can try this anyway
[code]
btw, in order to have all the info, are u using the provided binary or did you build it from scratch yourself? which OS and version?

[2018-08-15 10:50] Urdwex commented on #179
Still won't work.  I'm using the provided binary, using Windows 10 pro version 10.0.17.134 build 17134.

After checking the Images I noticed that all 1200D images have a yellow aperture icon, that they have no intrinsic parameters. But in the information panel in the image viewer, they have Exif data.

[2018-08-15 11:59] peto2006 commented on #179
@simogasp to provide more info: I have encountered problem on Windows 10, now I'm testing on Linux Mint 18.3, I'm using Meshroom build downloaded yesterday, Version 2018.1.0, with everything bundled.

this string seems to work:

    Sony;Sony CyberShot DSC-HX9V               ;6.16

also this string works:

    SONY;DSC-HX9V               ;6.16

@Urdwex try restarting program after you correctly ch

[2018-08-15 15:47] patdavid commented on #183
@simogasp Having just tried it again, it must have been something wrong between the keyboard and chair.  Please disregard my previous comment (and thank you all for this awesome project!).

[2018-08-16 08:32] ChemicalXandco commented on #193
Put describer preset to Ultra, sift+akaze, brute force matching and that is all you can do really, but it will take a very long time and might not work still. Keep all the other settings at default, they work just fine as they are. This software is good, but it's not magical. If your picture set is bad, nothing will help. See [This](https://www.tested.com/art/makers/460142-art-photogrammetry-how-t

[2018-08-17 15:11] kelteseth commented on #183
Same here it stoped working at StructureFromMotion

- Win x64
- Nvidia 780
- Cuda 9 installed
- Latest driver

[code]
Status:

[code]

[2018-08-17 17:41] fabiencastan commented on #183
It ends correctly but has failed to make the reconstruction:
[code]
If you think that your dataset should be good enough to make a reconstruction, please send it to us so we can analyse if there is a problem or if your images are too challenging.
Private mailing-list: `alicevision-team@googlegroups.com`.

[2018-08-17 18:22] Sarngond opened #195 "Meshing taking over 14 hours"
I don't know if this is my fault or Meshroom's but I put 68 images in and once it got to meshing it has already taken 14 hours and is still going. I don't know if this is normal or what, i just want to know if you guys think my model will be done soon. It has currently been on Comute boykov_kolmogorov_max_flow since 23:10:14.

[2018-08-17 20:13] kelteseth commented on #183
@fabiencastan I've sent you an email with the images I used :)

[2018-08-17 20:48] Sarngond commented on #195
should I just stop the process cuz it's still going.

[2018-08-17 20:55] Sarngond commented on #195
I went ahead and stopped it.

[2018-08-18 02:56] takwaiservice opened #196 "About the error message at the FeatureMatching step"
Hi,

I try the software, there is a error message at the FeatureMatching step, How to solve this problem.

Thank you.
![error](https://user-images.githubusercontent.com/20833371/44295118-52760480-a2d5-11e8-8b1e-d3e49e82a83a.jpg)

[2018-08-18 04:58] DevoStevo66 commented on #130
I've imported several Meshroom .obj files into Blender for retopology etc. Just import as .obj file from the Texturing Folder inside Meshroom folder created when file saved and completed. Just make sure the .mtl file and the .png texture images are in the same folder where you import the file into blender from and it should work (Blender 2.79).

[2018-08-18 07:44] ChemicalXandco commented on #196
All this means is that is can't find the Alice vision Executable. Go to `Meshroom-2018.1.0/aliceVision/bin`; is there a file called `aliceVision_featureMatching.exe`?

[2018-08-18 16:24] stereopsys opened #197 "Error message at the Depth Map step"
"this program needs a CUDA-Enabled GPU (with at least compute capability 2.0)"
But the graphic card is a GEFORCE GTX 1050 !!!?...

[2018-08-18 17:10] Sarngond commented on #195
does anyone know why it was taking so long?

[2018-08-18 17:41] simogasp commented on #195
can you share your images in private (alicevision-team@googlegroups.com)?
@fabiencastan @yann-lty @gregoire-dl will try to launch it and debug it as soon as they are back from SIGGRAPH.

[2018-08-18 18:42] simogasp commented on #197
Can u try reinstalling or updating your driver?
see #182

[2018-08-19 20:01] crparis1 commented on #192
I noticed this pretty quickly as well.  Shouldn't be too tough to add by compiling from source with the CCtag libraries with the AliceVision CCTag libraries?

[2018-08-19 20:04] simogasp commented on #192
yes for the moment cctag is not packaged in the current release. It will come soon with the next ones.

[2018-08-20 06:16] fbi369123456 opened #198 "Meshroon building question"
My Building Environment is in Ubuntu 16.04

I have compile and build AliceVision successfully, but I dont know how to conect with Meshroom.

My step is :
1. export two environment variable ALICEVISION_SENSOR_DB and ALICEVISION_VOCTREE
2. Because the AliceVision is install in /usr/local so I don't know I have added AliceVision Path or not.
3. Use command pip install -r requirements.txt -r dev_requi

[2018-08-20 07:02] fabiencastan commented on #198
You just need to set your PYTHONPATH to the root folder of meshroom to provide the meshroom module to Python.

[2018-08-20 07:07] fabiencastan commented on #195
How much RAM do you have on your machine?
You should reduce the value of `maxPoints` to avoid using too much RAM & SWAP.

[2018-08-20 09:14] happyfrank opened #199 "Does Meshroom support spherical panoramic images?"
Hello Dear all Does Meshroom support spherical panoramic images?

[2018-08-20 09:58] Powerbyte7 commented on #199
As of now, it doesn't. It relies on metadata like the sensor size and focal length to obtain a solid reconstruction of the scene.

[2018-08-20 10:03] simogasp commented on #199
there is a support for 360 images in AliceVision, the library Meshroom relies on.
https://github.com/alicevision/AliceVision/blob/develop/src/software/utils/main_split360Images.cpp

This enables you to split your panoramic image into many images to be processed through the normal pipeline.
I don't think that this is dealt with automatically in meshroom, though @yann-lty

[2018-08-20 12:40] marcpetit opened #200 "Error in FeatureExtraction"
Hi,

I have unzipped the Windows bin version (Meshroom-2018.1.0) and used it with a set of photos from my phone. Processing stops with feature exrtaction going red.

Here is the **log**

Program called with the following parameters:
 * describerPreset = "normal"
 * describerTypes = "sift"
 * forceCpuExtraction = 1
 * input = "C:/Outils/3D/Faucon/MeshroomCache/CameraInit/b132e17a58e3601eea5abdaa344

[2018-08-20 13:39] fbi369123456 commented on #198
Thanks a lot it work.

[2018-08-20 14:02] fbi369123456 opened #201 "Error on PrepareDenseScene"
Hi

It's my first time to build AliceVision on Ubuntu.
I execute meshroom_photogrammetry, but I get some error message:

Plugins loaded:  CameraCalibration, CameraConnection, CameraInit, CameraLocalization, CameraRigCalibration, CameraRigLocalization, ConvertAnimatedCamera, ConvertSfMFormat, DepthMap, DepthMapFilter, ExportAnimatedCamera, ExportMaya, ExportUndistortedImages, FeatureExtraction, Fea

[2018-08-20 15:26] fabiencastan commented on #201
I recommend you to save your scene first.
It would be interesting to see if the Alembic file is valid and can be open in meshroom, or another 3D software. The problem is probably on the StructureFromMotion node.
But currently, this file is in /tmp so it has been removed if you have reboot:
/tmp/MeshroomCache/StructureFromMotion/5fd83ae248840110951facebccadef96408ecd47/sfm.abc

[2018-08-20 15:33] fabiencastan commented on #195
It's a parameter of the Meshing node.
If you have 12GB, you definitely need to reduce this value.
We should add something to adapt to your machine resources, but in our use case we compute on renderfarm and use some constraints to get machines with >= 32GB.
I don't know the exact mapping from this value to the RAM needed. So you should try 1000000 first, and then 2000000 which should be fine too.

[2018-08-20 15:35] #198 closed

[2018-08-20 15:41] marcpetit commented on #200
Hi,

for some reason my laptop has rebooted while I was not here. I've relaunched meshroom and activated the trace level for FeatureExtraction and ... it worked. I don't know if the reboot did anything yet since distribution is zip based I don't expect a reboot should be needed.

I'm now stucked at the DepthMap phase for my gfx card is not recognized as a CUDA one so I guess I'll just install the

[2018-08-20 15:44] fabiencastan commented on #200
Yes, reboot is not required. So that's strange!
Yes, for the depth maps, you probably need to update your drivers.
Let us know if it works for you.

[2018-08-20 16:29] marcpetit commented on #200
It now works but only reconstructs from 3 photos while I have 16. I probably need to change some parameters but there are many and I now need to figure them out.

[2018-08-20 16:50] fabiencastan commented on #200
The most critical parameter is on FeatureExtraction, you should try to set describerPreset to HIGH.

[2018-08-20 17:03] fabiencastan commented on #196
@takwaiservice Could you show the log tab?

[2018-08-20 18:38] marcpetit commented on #200
I've tried several sets of parameters (describerPreset to high and even ultra) and never got more than 3 pictures reconstructed. When I try to get some parameters too high I even have some steps in error.

This is just a toy case (the Millenium Falcon from SIGGRAPH's expo) in order to get started with Meshroom. It may be a bit tricky (the model was in a glass showcase so there are reflections) but

[2018-08-21 03:32] fbi369123456 commented on #201
I reboot and try it again, and it work successfully.

It seems that the pipeline corrupted, some file didn't save completely.

Thanks a lot.

[2018-08-21 12:42] andybak commented on #193
Out of curiosity - what was the resolution of the drone footage? I'm trying to work out whether the output from a Parrot Bebop is usable (3320 x 4096 but an extreme fisheye lens) is feasible.

[2018-08-22 12:32] daprato commented on #145
Hi there, I just downloaded the recent version (2018.1.0)
I have the same problem, stuck on Extraction Feature:
![image](https://user-images.githubusercontent.com/21172936/44463359-78f1b380-a5e5-11e8-9e1a-43b342017b64.png)

Status: Running
and Log of this task says Task Done:
![image](https://user-images.githubusercontent.com/21172936/44463410-a0e11700-a5e5-11e8-9ba7-ec4c9e226e5e.png)

I tried wit

[2018-08-22 12:58] daprato commented on #145
So i decided to Stop the process. And the status is now:

    "status": "ERROR",
    "execMode": "LOCAL",
    "nodeName": "FeatureExtraction_1",
    "nodeType": "FeatureExtraction",
    "packageName": "aliceVision",
    "packageVersion": null,
    "graph": "",
    "commandLine": "aliceVision_featureExtraction  --input \"C:/Users/admin/AppData/Local/Temp/MeshroomCache/CameraInit/4228b637cf04dedade9

[2018-08-22 14:03] perthvr commented on #193
the resolution is 1920x1080 works fine as long as the drone can get good coverage of the feature and the lighting is good . I use lightroom to  lighten the shadows and blacks i also strip the exif data as the frame captures dont always agree with the drone camera type in the sensor database . Not sure what  do about the fisheye there is some undistortion that occurs in meshroom   also perhaps try

[2018-08-25 16:43] GreenOpposite opened #202 "Error on CameraInit"
My Canon EOS 750d got not recognized.
I was benable to fix the Problem by going into the _cameraSensors.db_ and changing
`Canon;Canon EOS Rebel T6i / 750D;22.3`
into
`Canon;Canon EOS 750D;22.3`

[2018-08-25 16:44] pyarchinit opened #203 "windows 10, This program needs a CUDA-Enabled GPU (with at least compute capablility 2.0)"
On Windows 10 the process is stopped at DepthMap.

I have NVIDIA CUDA QUADRO M2000M.

Thanks a lot!!!

I post the log:

Program called with the following parameters:
 * downscale = 4
 * ini = "C:/Users/Luca/3D_project/porta_galliana/MeshroomCache/PrepareDenseScene/8054f9119cbbeb7e35809c4b011e73c96a6c19f1/mvs.ini"
 * output = "C:/Users/Luca/3D_project/porta_galliana/MeshroomCache/DepthMap/aa8bda2b2

[2018-08-25 16:49] simogasp commented on #202
yes the algorithm for searching inside the db has changed before the release and it is less flexible
see https://github.com/alicevision/AliceVision/issues/485

[2018-08-25 17:38] simogasp commented on #203
try re-installing /updating your nvidia driver
see #197

[2018-08-25 20:14] urgaylol commented on #195
can you change the value while it's running and it will continue the process, but start the meshing with the new value? or are you supposed to stop everything, modify the value and then start it again?

[2018-08-26 00:07] JandJ101 opened #204 "MacOS relealese please"
It would be amazing if you compiled this for MacOS.

[2018-08-26 00:53] Chaks243 opened #205 "Error when importing photos"
When I tried to do my first scan the process stopped on FeatureExtraction and the loading bar turned red. Now when I try to import photos into the program I get this error:

Plugins loaded:  CameraCalibration, CameraConnection, CameraInit, CameraLocalization, CameraRigCalibration, CameraRigLocalization, ConvertAnimatedCamera, ConvertSfMFormat, DepthMap, DepthMapFilter, ExportAnimatedCamera, Export

[2018-08-26 01:03] Chaks243 commented on #205
I think it was my Antivirus, since I can now import images after Whitelisting Meshroom, however, I'm now getting this error:

WARNING: downgrade status on node "PrepareDenseScene_1" from Status.SUBMITTED to Status.NONE
WARNING: downgrade status on node "CameraConnection_1" from Status.SUBMITTED to Status.NONE
WARNING: downgrade status on node "DepthMap_1(0)" from Status.SUBMITTED to Status.NONE
WA

[2018-08-26 07:05] philipposslicher opened #206 "Meshroom not importing photos"
I have tried importing photos on many occasions, only to have Meshroom do absolutely nothing.

# Things I've tried:
Restarting Meshroom, restarting computer, change Meshroom disk, change cache location, reinstall Meshroom, different image set. Run Meshroom as admin

# What happens when importing:
Flash of the images metadata extraction screen (< 0.5 s duration)
No images appearing in images panel

[2018-08-26 09:40] AndreaMonzini commented on #204
Hello if your Mac® Use an AMD® GPU this issue is related to https://github.com/alicevision/AliceVision/issues/439

[2018-08-26 10:40] ChemicalXandco commented on #205
This error means what it says, there are no matches in that file. Try putting describer preset to High or Ultra, sift+akaze matching to get the best chance of finding matches.

[2018-08-26 11:03] SmartySmart702 opened #207 "Please add camera model(s) and sensor width(s) in the database."
I get the Error above so I added WIKO;GETAWAY;4.82 to the database but doesn't worked!
I read in an other thread that there is a problem with spaces behind the names so I copied the names directly from the error message in the console.

EDIT: Here is the console message:

[12:54:06.307419][error] image: 'IMG_20180826_113722.jpg'
        - camera brand: WIKO
        - camera model: GETAWAY

![unben

[2018-08-26 11:37] simogasp commented on #207
try with
[code]
Also, be sure you quit meshroom before trying again after modifying the db.
If it works you can also pull request the change directly in https://github.com/alicevision/AliceVision

[2018-08-26 11:43] SmartySmart702 commented on #207
Thanks for you fast answer but it down't work :(
The program was closed when I edited the file.

[2018-08-26 12:05] simogasp commented on #207
What about this?
[code]
(because of this https://github.com/alicevision/meshroom/issues/179#issuecomment-413016629)

[2018-08-26 12:15] SmartySmart702 commented on #207
Thats what I said before with the spaces.
But I found out that if I rename the names in the images meta to "wiko" and "getaway" and than use wiko;getaway;4.82 (of course :D) it works!

[2018-08-26 15:41] vettorazi opened #208 "software not importing photos"
Machine:
surface book 2

**error:**
in the startup of the software:
[code]

**on the import:**```

ERROR:root:Error while building intrinsics : Traceback (most recent call last):
  File "f:\tmp\meshroom\meshroom\ui\reconstruction.py", line 384, in buildIntrinsics
  File "f:\tmp\meshroom\meshroom\nodes\aliceVision\CameraInit.py", line 129, in buildIntrinsics
RuntimeError: CameraInit failed with err

[2018-08-26 16:19] eisensafran opened #209 "Error when save path contains special characters"
Meshroom stops after ~10 minutes after starting the default building process with the following error when special characters are part of the save path:
`ERROR:root:Error during Graph execution Error on node "PrepareDenseScene_1":`

Tested on Win10 (1803)
Since my default user folder contains the special character ß (German double s) this error occurs.

[2018-08-26 23:31] finnbear opened #210 "PrepareDenseScene std::bad_alloc error"
Does this error happen simply because 8GB of RAM isn't enough for my project?

**Platform:**
* Lenovo Yoga 260
* Ubuntu 18.04
* 8GB RAM

**Node log:**
[code]

**Chart of system RAM/swap after restarting node:**
![image](https://user-images.githubusercontent.com/20015102/44634344-67920980-a94d-11e8-919d-751790ecde6a.png)

[2018-08-26 23:36] finnbear commented on #188
@robertguetzkow Can I ask how you would create your binary masks? I don't know how I would do that right now so I would want a built in editor.

[2018-08-27 07:32] zvrba commented on #209
Ah, it's not about "special characters", it's about (not) being Unicode-aware.

[2018-08-27 08:17] octupe commented on #188
You could just paint in some rough mask per image in GIMP or photoshop and save it as a PNG using the image name it applies to with a predetermined extension or suffix.

[2018-08-27 08:28] pyarchinit commented on #203
Solved with an update.
I suggest to put this message inside the log for any newbie.
ps: the software is great! Simply as agisoft powerfull as mic mac!!!

With a georeferencing module will be the leader for SFM and GIS world.

[2018-08-27 09:46] fabiencastan commented on #195
@Sarngond : Does this allow you to compute the Meshing node?

@urgaylol : If you change the parameters of a node while the node is being computed, the parameter changes will have no impact on the current computation.

[2018-08-27 09:57] Wendy-Caprio opened #211 "Textures Output Issue"
Hey, maybe it's obvouis but i always have 2 textures output, even if i set Max Nbr for imaes fusion to 1, i always get texture_0 and _1,and using only one gives me half black model (in blender) am i missing something or a setting ? in all the tutorials they only get 1 texture output ... amazing work otherwhise, thanks for your help !!

[2018-08-27 10:16] fabiencastan commented on #210
Yes, maybe due to the trivial parallelization that we use at this step. In our renderfarm, we always have machines with more RAM than that.
Could you try to set this environment variable before launching Meshroom?
`export OMP_NUM_THREADS=1`

It will make other steps really slow, but just to see if it fixes the problem. And we will need to add rules to check the amount of RAM available to limit the

[2018-08-27 10:28] fabiencastan commented on #211
Hi,
`maxNbImagesForFusion: Max number of images to combine to create the final texture`.
This parameter is a contraint to limit the number of source images we use in the color fusion. It is not related to the number of output texture files.
There is no such parameter, the only thing you can do is to increase the image resolution.

If you decimate your mesh to a reasonable size, you can also change

[2018-08-27 10:48] rgoupil commented on #208
I had the same problem here, on a workstation running Win10 with 16Go of RAM.
I was  trying to import several images of 2988x5312.
When I downscaled them to 2656x1494 it could correctly imported them.
I assume this is related to the amount of RAM and the size of your image (5312x2988x3 != 45Go vs 2656x1494x3 ~= 11Go).

[2018-08-27 12:49] Wendy-Caprio commented on #211
omg thank you !!
well the probleb is that it's weird to have 2 images for the same model, i'm a begginer so i had no idea how to merge them ... anyway thank you !!

[2018-08-27 14:51] ertgtct commented on #209
For me this Error occurs every time, even when I have an ASCII compatible Path.
But I am also working on a German Windows Machine.
My Software version is 1.0

[2018-08-27 15:08] fabiencastan commented on #210
To only affect Meshroom, you can do:
`OMP_NUM_THREADS=1 ./Meshroom`

[2018-08-27 15:09] eisensafran commented on #209
Can confirm the error from ertgtct:
Meshroom quits also working when umlauts (äöü) are part of the file path OR file name.

[2018-08-27 15:17] finnbear commented on #210
I just tried that, and for some reason, Meshroom returned to the same state I left it yesterday. Note that I did load the same images but I didn't save the project file. Same error occurred. I will try with new images to avoid caching of previous results.

[2018-08-27 15:28] ertgtct commented on #209
I got it fixed for me:
You need an ASCII compatible filepath **and** you must save the file in the Programm directory

[2018-08-27 15:30] finnbear commented on #210
Right now, I could only find 4 other images to test on, which apparently isn't enough. I get this error:
[code]

Until I can test new images, I don't thing the OMP_NUM_THREADS worked. I will try:

- More powerful desktop hardware (32 GB ram)
- Down-scaling image from 6k resolution to 2k.

[2018-08-27 16:14] ertgtct commented on #209
Or at least at the same Drive

[2018-08-27 16:17] abszolut opened #212 "ERROR: unrecognised option '--maxNbImagesForFusion'"
Hi I have got this error by running mesh with command line:

WARNING: downgrade status on node "Publish_1" from Status.SUBMITTED to Status.NONE
Traceback (most recent call last):
  File "bin/meshroom_photogrammetry", line 64, in <module>
    meshroom.core.graph.executeGraph(graph, toNodes=toNodes, forceCompute=args.forceCompute, forceStatus=args.forceStatus)
  File "C:\Users\abszolut\Repos\meshroo

[2018-08-27 16:36] fabiencastan commented on #212
Are you using the pre-built binaries (from the github release)?
If not, you probably need to update the AliceVision repository.

[2018-08-27 18:27] tobyplowy commented on #179
Oh it seems to work after restarting the program, nevermind sorry.

[2018-08-27 19:45] LauritzThaulow opened #214 "Add requirements (specifically, NVIDIA GPU required) to download page"
There is currently no mention anywhere that I could find, except in some of the open issues on github, that NVIDIA GPUs are currently a requirement for this application.

Please add a prominent notice to the download page so that people with different GPU cards don't waste their time taking lots of pictures, downloading and figuring out the program, only revealing that their efforts were wasted wh

[2018-08-27 19:58] ThatBananer commented on #206
I'm having the same issue, but when I Initially installed and ran it worked. I stopped the process a little less than halfway through. From there tried to import photos and that when I had the issue.

[2018-08-27 20:59] oakdesign commented on #183
@richard-bmc  I can confirm the Behavior reportet by you. I can step throurgh the nodes by manual editing every status file. In the end it can be called a workaround but renders the whole workfless prety useless.
Counting the time I would have to babysit the process that's currently a show stopper IMHO

[2018-08-28 02:37] richard-bmc commented on #183
@oakdesign My colleague also found that this problem disappears on Windows 10. Perhaps you can try Meshroom on Windows 10 or Linux.

[2018-08-28 08:26] jessebax opened #215 "unable to install requirements on windows 10"
Install.md says python >= 3.5 should work. I am new to python, but to help learn I would like to contribute testcases to this project. This is blocking me from getting started so any help would be appreciated.

[code]

[2018-08-28 09:31] yann-lty commented on #215
Good catch, PySide2 5.11.0 is not available for Python 3.7.
Could you either try temporarily switching to PySide2 5.11.1 in requirements or use Python 3.6 ?
I'll bump the PySide version to 5.11.1 in a coming PR.

[2018-08-28 09:47] yann-lty commented on #214
We should have done that earlier, thanks for pointing this out. It has been added to the download page.

[2018-08-28 09:47] #214 closed

[2018-08-28 10:02] #203 closed

[2018-08-28 10:05] yann-lty commented on #191
Nice! Don't hesitate to add the "meshroom" and "alicevision" tags to your models on Sketchfab so we can  easily find them ;).
Closing this now as it was not an issue.

[2018-08-28 10:05] #191 closed

[2018-08-28 10:17] yann-lty commented on #174
I think this is the default behavior of Windows' default save dialog (and something we don't control on Meshroom side). You can explicitly add Meshrom ".mg" extension to the project name to make it understand you want to save the project file, not enter the subfolder.

[2018-08-28 11:27] AndreaMonzini commented on #214
Hello, there is a thread to evaluate solutions for other GPU.

https://github.com/alicevision/AliceVision/issues/439#issuecomment-416528894

[2018-08-28 11:59] LukeV1 opened #216 "Windows7: Meshroom got stuck in FeatureExtraction"
Meshroom always gets stuck in the FeatureExtraction node while the log shows that AliceVision actually _succesfully_ finished.

Doing the workaround described in [#183](https://github.com/alicevision/meshroom/issues/183#issuecomment-414952460) "solves" the problem and Meshroom continues then.

Im running Windows 7 64bit with CUDA 9.2

<details>
  <summary>Log file (presumably not important):</summ

[2018-08-28 12:35] pr0gr8mm3r opened #217 "Select part of pointcloud for meshing"
I'm wondering if there is a way to only use part of the generated pointcloud for meshing. I had to reduce the number of maximum points used for meshing to 2000000 points, as I don't have enough RAM for more (#195). The problem is that my pointcloud includes a lot of the room I scanned my object in. As the object has a higher density than the surroundings, it's quality is reduced a lot.
Solutions w

[2018-08-28 12:39] tomer3535 opened #218 "Can you use meshroom with amd video cards?"
Hey, I started using meshroom today and at first everything went well and it got to DepthMap, then it stopped. It said [error] This program needs a CUDA-Enabled GPU (with at least compute capablility 2.0). What I understand from that is that I need a NVIDIA GPU because CUDA doesn't run with amd or something. Does that mean I can't use the software with an amd video card?

my amd video card is Rade

[2018-08-28 12:40] fabiencastan commented on #216
Yes, this problem seems to be present only on Windows 7.
The binaries have been created on Windows 10 and have not been tested on Windows 7.
I don't know why he doesn't work the same way.

[2018-08-28 13:00] #128 closed

[2018-08-28 13:04] fabiencastan commented on #218
Yes, you cannot do the depth map computation on AMD cards as it is implemented in CUDA. So you cannot create the mesh.
Duplicates of https://github.com/alicevision/AliceVision/issues/439

[2018-08-28 13:04] #218 closed

[2018-08-28 13:08] fabiencastan commented on #217
Yes that's of course an important feature, but it is not yet implemented.

[2018-08-28 16:38] oakdesign commented on #183
@richard-bmc I' m currently stuck on that Win7 machine as it's the only with a Cuda GPU. As I only have 4 projects to get done I neither have to time nor willing to dig deeper into the issue, even so I maight as a profesional developer.To get things done will go with a 3 Month RealityCapture suppscription. I have done one of the projects with the trial in 2 hours. Meshroom with the descriped bug i

[2018-08-28 17:27] LukeV1 commented on #216
Maybe this has something to do with the Windows permission management?

At least to my understanding there _are_ stange things happening when I change the execute permissions:
- If I start Meshroom explicitely as administrator, I can't add any images per drag and drop anmore (when dropping it just shows the crossed sign)
- If I enable "execute as administator" on aliceVision exe files (what means

[2018-08-28 17:42] LukeV1 opened #219 "Enhancement: monospace font for log display"
As this is just an enhancement suggestion please close or ignore this if you`ve got too much work to do...

It would be nice if the log output in meshroom would be shown in a monospace font since otherwise the character-progressbars aren't readable at all. Currently you are not able to tell if a bar is finished or not when looking at the meshroom log - what would be helpful especially now as the s

[2018-08-28 17:50] LukeV1 commented on #216
Just found out that somebody else discovered this already in #145. To be more specific: [here](https://github.com/alicevision/meshroom/issues/145#issuecomment-411349099).

[2018-08-28 17:54] sirwillard commented on #183
I was able to use this Win 7 work around all the way through to the DepthMap node, but at this point my DepthMap has 33 status files... I have to watch the GPU/CPU until they go idle, check the log to make sure it completed, kill the process, edit the status file, and press start... 33 times.. I gave up after 8 steps since it is too tedious to be functional on Windows 7 currently.

[2018-08-28 18:00] jmontserrat opened #220 "Question: Does Meshroom Support Reconstruction Regions?"
Hi,

As the title says, does Meshroom support reconstruction regions? I couldn't find anything about that in the nodes.
That would greatly improve the reconstruction times.

Thanks

[2018-08-28 18:00] sirwillard commented on #216
I limped it through on Win 7 by changing the status files up to the depthMap node, but that is just too much work for the 33 status files.  It appears as you said.. AliceVision is not exiting properly.  The GPU/CPU go idle, but the executable remains an active but idle process. The logs say it completed. If you kill the process, you can go back and edit the status file from error to success, and s

[2018-08-28 18:56] LauritzThaulow commented on #214
Thanks for the quick resolution, @yann-lty. I really appreciate the work you and the other devs are doing on this project, thank you!

And thanks for pointing me to that thread, @AndreaMonzini, I'll keep an eye on it, as I'm sure it's only a matter of time until AMD support comes along, given the [momentum](https://trends.google.com/trends/explore?q=meshroom) this project seems to be getting.

[2018-08-28 19:28] abszolut opened #221 "deleting Cache"
Hi,

I would like to delete the meshroomcache in ...AppData\Temp.

If I use the same filenames the process doesn't start.
Is there a script to empty the Cache?

Thank you

[2018-08-28 20:19] stefanp88 opened #222 "unable to build meshroom on manjaro"
Any Ideas I would love to get this going on my linux box.

[code]

[2018-08-28 20:45] fabiencastan commented on #183
That's definitely too horrible to do that manually!!
But currently I have no idea how to debug it, as I have no way to reproduce it.

[2018-08-28 20:48] fabiencastan commented on #220
That's obviously an important feature, but it is not yet implemented.
Same request idea than: https://github.com/alicevision/meshroom/issues/217

[2018-08-29 07:48] fabiencastan commented on #222
[code]
How did you install Ceres?
Where is `ceres/ceres.h` installed on your system?

[2018-08-29 09:45] LukeV1 commented on #221
Actually there is a built-in function to delete the Cache (for each node separately) - just right click the node and select "Clear Data"

[2018-08-29 09:48] LukeV1 commented on #216
I know. Did this once just to proove that it is working then..

[2018-08-29 10:12] abszolut commented on #221
Can I do this with command line?
Thanks

[2018-08-29 12:24] eXConf opened #223 "Mess instead of mesh"
Love the idea of this software but everytime I try it, I get some mess instead of mesh, although the SfM preview shows the correct model. Any advice on it?
SfM: http://prntscr.com/ko847c
SfM + mesh: http://prntscr.com/ko84sp
.obj: https://www.dropbox.com/s/a2tsfcayw9sa2mp/texturedMesh.obj?dl=0

P.S.> this time I used 1920x1280 photos just to speed up process. Previous attempts with 5184x3456 gave

[2018-08-29 12:32] fabiencastan commented on #223
That's weird.
Which platform version are you using?

Could you try with the sample dataset?
https://github.com/alicevision/dataset_monstree/tree/master/mini6

[2018-08-29 13:27] canonex opened #224 "Warning at start that cuda is not present"
Currently Meshroom warn you, with a message _only in the console_, that you need a Cuda enabled harware, only when you reach "Prepare dense scene" node.

Would be handy not to start a project if you don't have the correct hardware (or driver installed):
a solution could be to **prompt the warning immediatly** when you start the software.

Thank you,
Riccardo

[2018-08-29 17:03] DGhost001 opened #225 "CUDAError: an illegal memory access was encountered"
Whenenver I try to reconstruct the depthmap the program crashes with a SigSev after reporting tons of CUDA illegal memory access errors.

Like:
``
 CUDAError: an illegal memory access was encountered
  file:       /opt/AliceVision_git/src/aliceVision/depthMap/cuda/planeSweeping/plane_sweeping_cuda.cu
  function:   ps_deviceUpdateCam
  line:       402
``
And this one:

``
CUDAError: an illegal memo

[2018-08-29 17:43] alrayel opened #226 "Sensor width doesn't exist in the database, but how can I add it?"
Hi guys,

I'm a 3D designer and found out today about meshroom and gave it a try with my Sony Xperia Z5 mobile.
I already searched for this issue but without success. I actually found someone with same problem but it didn't work for me.

I found that the sensor for the camera on Xperia Z5 is 1/2.3" (~ 6.16 x 4.62 mm) and I have added "Sony;Sony E6663;6.16" to the camersensors.db file (is it the on

[2018-08-29 19:36] LukeV1 commented on #221
Presumably, but I don't know the command - I'm not a developer of AliceVision..

**BUT**: you can use `-f` to force recomputation of your cache ([source](https://github.com/alicevision/AliceVision/blob/develop/docs/sphinx/rst/software/SfM/ComputeFeatures.rst)).

[2018-08-29 20:38] fabiencastan commented on #221
@abszolut I don't understand what you are looking for. Could you precise?

Currently, you can remove the cache per node from the UI. You can also retrieve the cache folder to delete it manually. If you want to clear everything, you just have to remove the main MeshroomCache folder. If you want to remove all variations of a node type, you can do it as they are grouped in the same folder.

[2018-08-30 00:16] ssnakee2 opened #227 "stuck at DepthMap"
is there a workaround for not having a nividia GPU?

`[10:04:55.800733][error] This program needs a CUDA-Enabled GPU (with at least compute capablility 2.0).`

and CUDA is a nividia thing

I get this when i get to depthmap.
(I have a crappy IGPU i5 i got in 2013 from intel)

[2018-08-30 00:55] chrisnagy commented on #226
Try using Photoshop to make your images bigger sizes at least eight megapixels

[2018-08-30 01:43] stefanp88 commented on #222
It is /usr/include/ceres/ceres.h

[2018-08-30 02:32] stefanp88 commented on #222
I've uninstalled ceres again and tried to install meshroom again hoping it would see it as dependency and install which it did but it's still complaining about not being found. Do I have to edit something?

Preparing...

Building ceres-solver...
Cloning into 'ceres-solver'...
remote: Enumerating objects: 39, done.
remote: Counting objects: 100% (39/39), done.
remote: Compressing objects: 100% (38/

[2018-08-30 07:09] AlexKucera commented on #128
@yann-lty is the lack of binaries for Mac due to you not having a Mac available? Or was there just no time to get a build up?

[2018-08-30 07:14] griwodz commented on #128
The slowest stage of AliceVision (depthMap) requires an NVidia GPU, and that is currently difficult to get in a Mac.

I know that the NVidia drivers work and it is possible to put NVidia cards into external cabinets, but we don’t have equipment that.

On 30 Aug 2018, at 09:09, Alexander Kucera <notifications@github.com<mailto:notifications@github.com>> wrote:

@yann-lty<https://github.com/yann-lty

[2018-08-30 07:31] AlexKucera commented on #128
I see. Thanks. I do sport a Mac Pro with an Nvidia card, but my last attempt at building failed unfortunately and I didn't have enough time to resolve all the build errors (plus lack of experience in that area). I'll play with the other builds for now. Thanks.

[2018-08-30 08:26] ChemicalXandco commented on #227
No. Even if they did add support for other graphics, the 'crappy IGPU' would take so long, as depth map computation speed is slow enough as it is. You might as well use [Regard3D](http://www.regard3d.org/index.php) if you're into open source or [3D Zephyr](https://www.3dflow.net/3df-zephyr-free/) If you are looking for good free software or [Photoscan](http://www.agisoft.com/) if you want professi

[2018-08-30 08:34] ChemicalXandco commented on #226
@chrisnagy just no. The error is not because of resolution probably same as [#179 (comment)](https://github.com/alicevision/meshroom/issues/179#issuecomment-413016629)

[2018-08-30 08:59] fabiencastan commented on #226
@alrayel : Have you tried to add `Sony;E6663;6.16` to the camersensors.db file as suggested by @hcw70 ?
This is supposed to work.

[2018-08-30 09:54] LukeV1 commented on #183
Is there anything we can do to get this fixed? Maybe provide some log or dump file?

[2018-08-30 10:07] fabiencastan commented on #183
Yes, dump file would be very useful.
If someone can build in debug on win7 and run it in the debugger to provide a backtrace and/or dump file, we should understand the problem and most probably be able to fix it.

As a first simple test, it may be interesting to try to run the `aliceVision_featureExtraction` without OMP: `set OMP_NUM_THREADS=1` before launching the command line.

May also be inter

[2018-08-30 10:28] Marsleader commented on #226
I am getting the error:
[code]
I checked the cameraSensors.db and my camera is already in there. After reading these comments I'm still not sure I see an answer or am I missing something?

[2018-08-30 13:07] alrayel commented on #226
Thank you all for the replies
@fabiencastan Yes, I tried Sony;E6663;6.16 and no do :(

I had checked #179 before, but I don't see where those spaces are to change the name of my camera...

[2018-08-30 13:32] hcw70 commented on #226
@Marsleader Are you shure that camera is in (with exact name)?
i only get:
`Canon;Canon EOS Rebel T5 / 1200D;22.3
`
which is not the exact name from your log line. Maybe try adding with the exact reported name.

[2018-08-30 17:37] Marsleader commented on #226
Unfortunately no success. I copy pasted the name and even another with an extra space at the beginning that I noticed in the log. nothing. My database looks like:
[code]
would shooting in RAW fix this problem?

[2018-08-30 17:49] RandAlThor70 commented on #128
Hi, just saw informations about meshroom on youtube and want to try it out.
Sadly i do not find an meshroom.exe file in the win64 zip file. Is somewhere a documentation what i have to do so i can start it on windows?

[2018-08-30 18:41] MrMinimal commented on #227
It's a shame, I am also stuck with an AMD Vega 64 which could do this in seconds, but I cannot use this software because of CUDA.

[2018-08-30 20:00] LukeV1 commented on #183
Setting up a own build environment will take me some time, so I'll try out the other things before..
May a dump file of the release version of `aliceVision_featureExtraction` help too? I could create one with `procdump64`..

- Setting `OMP_NUM_THREADS` to one doesn't change anything - the program is succesfully completing but stays open.
- dependency walker found out several things, not sure what

[2018-08-31 03:50] richard-bmc commented on #183
@fabiencastan I'll try building AliceVision in debug mode on Windows 7. But I was a C/C++ guy until 5 years ago. Now I'm a Python guy. Maybe I'll need some help later.

[2018-08-31 08:25] ChemicalXandco commented on #128
@RandAlThor70 In the file `Meshroom-2018.1.0-win64.zip` you will see a folder called `Meshroom-2018.1.0` copy that folder into another directory, like your desktop. This will uncompress it. Now enter that folder and you will see a file called `Meshroom.exe` run it and you can now use meshroom! (As a side note, the reason that they don't provide documentation for this step is that you just have to

[2018-08-31 10:54] TDigital commented on #128
Hi, are there any plans to have Meshroom support AMD GPUs in the future via OpenCL or otherwise?

[2018-08-31 13:11] lewiswalsh opened #228 "Depthmap very slow"
I have a i7, 16gb RAM, 2gb Nvidia card.

What settings can I change on DepthMap to speed things up a bit, assuming a lower resolution output?

[2018-08-31 13:36] morriekken commented on #228
While slow/fast are pretty relative terms I agree that it might need some optimization. I run set of photographs through Zephyr 3D (free version) and Meshroom and it took significantly more time with Meshroom. I didn't measure exact time but I can run the same set again on both is it is any use.

I am using i7-5820K, 48GB RAM, Titan X (Maxwell) 12GB.

[2018-08-31 13:40] lewiswalsh commented on #228
I used the 3D Zephyr example files (the cherub statue) and after two hours the depthmap bar had hardly moved. I get a warning "Low GPU memory volume step Z: 3"

I'm keen to play with the attributes to speed things up, and not fussed about the resolution of the final mesh at the moment.

Problem, I don't understand most of the attributes and haven't found a decent explanation of how they affect the

[2018-08-31 14:09] RandAlThor70 commented on #128
@ChemicalXandco Thank you for the information.
I think i have the wrong file and download it again.
Unpacking a folder is something a have done once or twice in the last twenty years :)

[2018-08-31 14:49] morriekken commented on #228
You get some kind of documentation when you run each of steps in command line - however it's not awfully more than what you get in UI.

[2018-08-31 18:04] ChemicalXandco commented on #128
@RandAlThor70 I did not think that you did not have the intuition to unpack files but it appears that the file you downloaded actually doesn't contain the executable for meshroom... Is it possible that you are downloading the [alicevision binaries](https://github.com/alicevision/AliceVision/releases) and not the [meshroom + alicevision](https://github.com/alicevision/meshroom/releases) ones? It is

[2018-09-01 10:31] ejnaren commented on #199
Is there a roadmap somewhere where we could upvote this feature? Would be very handy for interiors.

[2018-09-01 12:09] AdityaSrivastava2819 commented on #186
Yeah, we can't use Meshroom to the fullest without some documentation or tutorials. Also, Alicevision should start using its YouTube channel more and more.

[2018-09-01 13:09] ChemicalXandco commented on #186
I am willing to contribute to the documentation.

[2018-09-01 17:46] bobokox opened #229 "black screen and crash - Unable to recover from a kernel exception. The application must close. Error 3 (NVIDIA OpenGL Driver)"
Hey!

First of all, very nice programm, I really love it!
But I have a problem. Meshroom crashes randomly while the progress.
I have a new graphics card since a few days. It's the GTX 1080ti. First I had the same error while rendering in blender too, but I was able to fix it with the right settings. In Meshroom, I can't find settings releated to the gpu.

I'm also in contact with the nvidia suppor

[2018-09-01 19:48] falu opened #230 "GCP support"
Any plans for support GCP-s (Ground Control Points) to fit model to world or local coordinate systems?

[2018-09-01 20:28] ChemicalXandco commented on #230
Duplicate of [alicevision/AliceVision#402](https://github.com/alicevision/AliceVision/issues/402): it has thumbs ups including @fabiencastan so yes there are plans

[2018-09-02 00:45] sirwillard commented on #229
Your 1080Ti should have worked in blender right out of the box, so that is already strange.  What settings did you change? That would be helpful.

[2018-09-02 17:01] sirwillard commented on #229
Oh wow, I didn't notice this was openGL.  Meshroom and cycles use CUDA.  Blender Render uses openGL.
Since you got through DepthMap, your card seems to compute CUDA, so it is strange it crashes at meshing.
First things first.  If your 1080ti can't use openGL there is already a serious issue with either the card or drivers.  Did you update to driver version 399.07? I had a driver from June that did

[2018-09-02 19:06] bobokox commented on #229
Yep. Driver is the newest. I even deleted it totally and reinstall it, unfortunately it didn't solve the problem.
Just did a testing in Iray (NVidia Render Engine). I have the issue with the random blackscreen too, but the programm didn't crash the first 2 times. Unfortunately it did the third time. Same OpenGL error.
I hope I'll get response of the nvidia support tomorrow.
Thank you for your help

[2018-09-02 22:10] AFWSI commented on #174
OK, at least it’s not a bug. Kind of annoying ,but have to remember when I go to naming my folder and projects. I didn’t think about adding the “.mg” extension. I will try that and see if it happens to work.

[2018-09-03 01:32] stefanp88 commented on #222
Any suggentions???

[2018-09-03 01:33] stefanp88 opened #231 "Can't build on linux"
Ceres install /usr/include/ceres/ceres.h

I've uninstalled ceres again and tried to install meshroom again hoping it would see it as dependency and install which it did but it's still complaining about not being found. Do I have to edit something?

[code]

[2018-09-03 09:27] AdityaSrivastava2819 opened #232 "Reconstruction from videos"
So, I am just asking if Meshroom supports reconstruction from videos. And please make a forum and start using that YouTube channel of yours.

[2018-09-03 09:33] andybak commented on #232
I'd be interested in this. I understand image quality is a major factor in good reconstruction but there's an element of "quantity over quality" that can come into play and I know there's been active research on using "lots of frames" to make up for the lower quality and resolution of each individual frame.

I also wonder if the inherently temporal nature of video can be used to improve feature ma

[2018-09-03 09:48] AdityaSrivastava2819 commented on #232
It would also eliminate the need of taking too many pics. One video from all angles and done. And do you know where can I find Meshroom docs?

[2018-09-03 09:49] fake-name commented on #216
I'm hitting this too, both in feature extraction and now in structure from motion.

Interestingly, stopping and restarting the run via the UI seems to successfully resume at the point where it got wedged for the feature extraction, but it causes the StructureFromMotion step to crash when you resume.

I have a VS2015 install, so I'd be happy to help debug if someone can provide the appropriate PDB

[2018-09-03 09:52] andybak commented on #232
(This is a bit beyond my technical comprehension level but definitely seems relevent: https://www.cv-foundation.org/openaccess/content_cvpr_2015/papers/Resch_Scalable_Structure_From_2015_CVPR_paper.pdf )

[2018-09-03 15:36] ChemicalXandco commented on #232
This may sound dumb but, why not split a [video into pictures](https://www.dvdvideosoft.com/products/dvd/Free-Video-to-JPG-Converter.htm), then cherry pick the ones that are good/not blurry and use that?

[2018-09-03 15:49] andybak commented on #232
Yeah. On a simple level that would do the trick.

The least worst part of that approach is the "split a video into pictures".

Cherry picking would soon become awfully time consuming with a few minutes of footage so it would be great if this step wasn't necessary.

But the ideal situation would be:

1. Totally automated workflow. No need to split to images
2. Feature detection optimized for the si

[2018-09-03 16:33] AdityaSrivastava2819 commented on #232
I think that Zephyr can do the automated image picking from videos.

On Mon, 3 Sep 2018 9:19 pm Andy Baker, <notifications@github.com> wrote:

[2018-09-03 22:08] JandJ101 commented on #204
I have a MacPro running a GTX Titan.

[2018-09-04 06:36] eroswade opened #233 "is there any introduction to use CameraCalibration?"
i searched on google, and can't find anything about how to use cameracalibration node on meshroom.
the most important part is
1, i find structfrommotion node refined the camera internal martix.
  if i use camera calibration, how to forbit use refine?
2 how to use camera calibration result to init camera? camera connection node?

[2018-09-04 08:40] Valouleloup commented on #216
Same problem for me.
OS : Win7
Meshroom : v2018.1.0
GPU : GTX 850M with last Nvidia drivers (08-2018)

The workaround I've found is :
- Stop the process when FeatureExtraction is done but stuck (` Task done in (s): xxx.xxx `)
- Go to MeshroomCache/FeatureExtraction/***/status.log (*** is the token you can find in the UI ` output something `)
- Edit the status from ` ERROR ` to ` SUCCESS `
- Go bac

[2018-09-04 08:52] fabiencastan commented on #233
This node is not yet available in the binaries of the current release (as it needs to build many additional dependencies), but it will probably be in the next release.
So currently, you can only use it if you built it yourself. Also we currently use it only for camera tracking and it cannot yet be directly connected to the SfM pipeline in the UI. That would be obviously a nice feature to have. The

[2018-09-04 09:07] fabiencastan commented on #216
@fake-name When you say, it is stuck somewhere in OpenImageIO: Is it on the FeatureExtraction or on the StructureFromMotion step? Or both?

[2018-09-04 10:55] yann-lty commented on #226
@Marsleader @alrayel  Have you tried to recreate a project from scratch after editing the sensor database file? Re-opening a file saved before this modification won't help as it's already initialized.
If your model is properly recognized, you should not see the orange aperture icon on your images anymore after dropping them into Meshroom.

@alrayel I might be asking an already answered question bu

[2018-09-04 11:11] adgbu commented on #228
I have the same question. What can I do to speed up the _DepthMap_ stage?
Please share if you learn anything more about this.

My machine is a laptop with both integrated graphics and a discrete NVidia GTX960M, 2GB GDDR5. I was able to get AliceVision to utilise the faster GPU for the DepthMap stage, which it would not do by default.

I want to acheive much shorter reconstruction times and I am wi

[2018-09-04 11:17] fabiencastan commented on #228
Augment the downscale factor to directly reduce the precision.
Reduce the number of T cameras (sgmMaxTCams, refineMaxTCams) will directly reduce the computation time linearly, so if you change from 10 to 5 you will get a 2x speedup. A minimum value of 3 is necessary, 4 already gives decent results in many cases if the density of your acquisition process regular enough. The default value is necessa

[2018-09-04 12:51] yann-lty commented on #208
Image size should not be a problem to initialize the project. They are never all loaded simultaneously in memory (only 3 at the same time). Could you share a few images from your (original scale) dataset to see what goes wrong?

[2018-09-04 13:06] yann-lty commented on #206
That's surprising... The whole log in the output window is replaced only by this incomplete line?
I doubt this is related to your image sets, but just to be sure, could you try with [this one](https://github.com/alicevision/dataset_monstree/tree/master/mini6)?

@ThatBananer You have the same behavior with the log window?

[2018-09-04 13:09] yann-lty commented on #183
Seems to be related to an OpenImageIO bug on Windows 7. See https://github.com/alicevision/meshroom/issues/216#issuecomment-418299961.

[2018-09-04 13:16] textoo commented on #185
same problem with mint 13.8

[2018-09-04 13:19] eroswade commented on #233
thanks fabiencastan .
then, how to add result values manually, into pipeline?
that's the first question i've answered above.
though i haven't read all the code. (meshroom, and AliceVision lab), is there any hints?

[2018-09-04 13:32] #125 closed

[2018-09-04 13:33] #114 closed

[2018-09-04 13:34] yann-lty commented on #124
I'm closing this since official releases are now available on Windows and Linux.

[2018-09-04 13:34] #124 closed

[2018-09-04 13:40] yann-lty commented on #146
@alcurb did you manage to fix this problem?
@robotiko this log looks okay to me, do you have issues to drop images into Meshroom?

[2018-09-04 13:44] yann-lty commented on #174
Thanks for your reply, I'm closing this issue as it is not a Meshroom bug.

[2018-09-04 13:44] #174 closed

[2018-09-04 14:00] yann-lty commented on #122
@MarjorieCoulin is it still an open issue or did you manage to use Meshroom?

[2018-09-04 14:09] Valouleloup commented on #228
@fabiencastan Wow thank you.
While these informations may seem obvious, there is no documentation and the description (sgmMaxTCams  : `Semi Global Matching: Number of neighbour cameras.`) is too short to really grasp the idea behind those parameters.

[2018-09-04 14:09] #201 closed

[2018-09-04 14:14] yann-lty commented on #206
Could this be related to an antivirus configuration blocking Meshroom subprocesses? It was the potential source of this issue: https://github.com/alicevision/meshroom/issues/205#issuecomment-416006478.

[2018-09-04 14:15] yann-lty commented on #205
@Chaks243 did you manage to go beyond FeatureMatching or are you still stuck?

[2018-09-04 15:09] fabiencastan commented on #228
Yes, I know that I need to update most of the tooltips with more precision.

[2018-09-04 15:18] ChemicalXandco commented on #232
Zephyr does have an 'Import Pictures from video' button - never used it though

[2018-09-04 15:54] AdityaSrivastava2819 commented on #232
I'd love to help but it's just that I am not a coder YET.

On Tue, 4 Sep 2018 9:05 pm Fabien Castan, <notifications@github.com> wrote:

[2018-09-04 16:01] fabiencastan commented on #186
Yes, we definitely need more documentation!
Currently the best source of information is still the video https://youtu.be/v_O6tYKQEBA.
To understand the 3D reconstruction concepts behind each node, you have a short description with references to publications here: https://alicevision.github.io/#photogrammetry

Thanks for the contribution proposition, that would be really useful.
We will publish a n

[2018-09-04 16:04] philipposslicher commented on #206
Tried the image set linked above, with AV turned completely off, same problem.

[2018-09-04 16:08] fabiencastan commented on #223
That's really surprising. We have run the pipeline on many different hardware without experiencing this problem.
I have no idea how to reproduce and fix that...

We are making many changes on the depth map gpu code, so it will be interesting to test it again when this work will be finished and integrated.

[2018-09-04 16:49] yann-lty commented on #206
Any chance you keep the complete log output when launching Meshroom.exe from a command prompt instead of double-clicking on it?

[2018-09-04 17:05] eXConf commented on #223
The only thing I can add is that I'm not on the latest Nvidia drivers, cause for some reasons they don't get installed properly. Also I would be glad to help with any tests, just tell me what to do.

[2018-09-04 17:29] zvrba commented on #183
@LukeV1 This is how you can enable "core dump" on Windows if you can get the program to crash: https://docs.microsoft.com/en-us/windows/desktop/wer/collecting-user-mode-dumps

Don't need any special tools.

[2018-09-04 18:23] ChemicalXandco opened #234 "Gitter/Slack/Discord Chatroom?"
The Issues section is getting full of duplicate issues and issues asking for advice on settings and general techniques, which isn't very relevant to the software itself. I think it would be much easier if we offloaded all of the discussions that aren't related to bugs and feature requests/suggestions etc. to a discord server. This will make the Issues section more concise with the things that actu

[2018-09-04 19:06] fake-name commented on #216
@fabiencastan  - both.

@yann-lty - Interesting.

[2018-09-04 19:57] AdityaSrivastava2819 commented on #186
That'll be great! You should post more and more tutorials on YouTube. That
would attract people and then they will also make tutorials. Also, they
would then be able to contribute to the documentation. YOUTUBE is a great
place for such things. Just look at Blender's channel. They post a lot
about development and there is an active community that makes more
tutorials. You should also do livestreams

[2018-09-04 20:43] fake-name commented on #234
Discord is horrible.

If you must, use a plain old simple (HTML) forum system.

[2018-09-04 21:33] andybak commented on #234
I second the bafflement about Discord. Chat has it's place but it's not
found to solve housekeeping issues with a forum or big tracker. Surely it
just spreads the problem wider and with less structure?

On Tue, 4 Sep 2018, 21:43 Connor Wolf, <notifications@github.com> wrote:

--

ixxy.co.uk • t 01273 906061 • m 07968 119324

[2018-09-04 23:45] eroswade commented on #233
thank you so much

[2018-09-04 23:45] #233 closed

[2018-09-05 01:25] Automoda commented on #211
My first try went well with default settings as far as the built-in viewer goes.  But when importing to 3dsMax, the texturedmesh.obj wanted 5 textures for the 3.5 million polygon result, but the mesh's polygons only had 2 texture IDs.  The material is considered a 'multi-sub-object' and listed only 2 sub materials:  Empty-gray and texture0.png and each coloring about half of the mesh.

So in 3D St

[2018-09-05 07:35] fabiencastan commented on #216
Can someone try to set `OPENIMAGEIO_THREADS=1` as an environment variable to see if it fixes the problem?

[2018-09-05 07:36] EnigmaHong commented on #180
@simogasp I can run the program successfully,, but there is no  ticks of  SFM like this image. How can I add it ?

![a](https://user-images.githubusercontent.com/28854145/45077987-569d8100-b121-11e8-80fc-ca3553c40a9d.png)

[2018-09-05 07:45] Valouleloup commented on #216
No change for me :/

[2018-09-05 07:49] fabiencastan commented on #216
Thanks for testing it so quickly! ;)

Could you try to launch the aliceVision command line directly?
If you look into the status section of the Meshroom node, you can see the command line launched.
I'm not sure that if the env var is propagated to the final command line.

[2018-09-05 08:02] eroswade commented on #233
i find that . in AliceVision lib--> software->pipeline->main_incrementalSfM.cpp . line 266
that's can lock the refine intrinsics.
and this parameter not used in meshroom.
but i can change it manuly . or add it to meshroom .

[2018-09-05 08:06] Valouleloup commented on #216
If I launch the command line in a terminal, the process never ends.

[2018-09-05 12:02] JakubkrizAldaGames opened #235 "Error during Graph execution Error on node "PrepareDenseScene_1":"
My process gets to prepare dense scene but after that it just fails for some reason 16gb ram gtx 1060

WARNING: downgrade status on node "CameraConnection_1" from Status.SUBMITTED to Status.NONE
WARNING: downgrade status on node "DepthMap_1(0)" from Status.SUBMITTED to Status.NONE
WARNING: downgrade status on node "DepthMap_1(1)" from Status.SUBMITTED to Status.NONE
WARNING: downgrade status on no

[2018-09-05 12:58] sirwillard commented on #216
The only work around I can find was in the comments for the OIIO bug.  They built with OIIO 1.7.17 for win7, and the recent build for win10.

[2018-09-05 14:27] simogasp commented on #180
what does the terminal log say at the very beginning when you launch meshroom?
You may be missing the Alembic plugin

[2018-09-05 14:36] yann-lty commented on #211
@Automoda how many materials are declared in the .mtl file next to the mesh? It's supposed to be the same as the number of textures (and of course the number of material used in the mesh).
Is the textured mesh correctly displayed in Meshroom?

[2018-09-05 14:43] yann-lty commented on #219
Totally agree, this is the expected behavior. It's actually set up to do that, but I found out too late that "Monospace" font was not available by default on Windows. I'll make a fix.

[2018-09-05 15:33] ChemicalXandco commented on #234
@fake-name well that would be a solution, but I don't know how efficient that would be, personally, I find forums hard to get proper answers. Also, this and Google Groups are forums anyway so...

@andybak possibly, but the 'theory' is that: all the technical stuff is on the forums, well organised and categorized and all the nitty-picky stuff like "what does this slider do?" and "best settings for

[2018-09-05 15:54] yann-lty commented on #223
One thing that we have never tested is Windows 8, but I fail to see how this could come into play. Would be nice if someone with a working Meshroom on this OS could refute this theory though.

[2018-09-05 16:01] yann-lty commented on #235
Duplicate of #209: you have non ASCII characters in your project path and the PrepareDenseScene step fails.
Closing this one to avoid multiple issues on the same subject.

[2018-09-05 16:01] #235 closed

[2018-09-05 16:14] adgbu commented on #228
Good info from @fabiencastan. That did reduce the workload.

I have looked closer at the _DepthMap_ stage and to my surprise **the GPU is mostly idle** during these long calculations. This strikes me as very strange.

At the start of the DepthMap process the console output clearly shows that CUDA GPU is detected:

`[14:54:06.662787][info] Supported CUDA-Enabled GPU detected.
[14:54:06.663779][info

[2018-09-05 16:36] yann-lty commented on #227
Duplicate of https://github.com/alicevision/AliceVision/issues/439

[2018-09-05 16:36] #227 closed

[2018-09-05 16:57] yann-lty commented on #66
Outdated issue

[2018-09-05 16:57] #66 closed

[2018-09-05 16:58] #67 closed

[2018-09-05 16:58] ChemicalXandco commented on #228
@adgbu see: [alicevision/AliceVision#481](https://github.com/alicevision/AliceVision/issues/481)

[2018-09-05 17:01] yann-lty commented on #180
If the SfM tick is missing, you are indeed missing the [qmlAlembic](https://github.com/alicevision/qmlAlembic) plugin.

[2018-09-05 17:36] bobokox commented on #229
Hm. Didn't find a solution till now. I did a bios update, an update of the chipset drivers and a downgrade to an older nvida driver without success. Unfortunatly the nvidia support doesn't have more proposals, but they say that it couldn't be the hardware.

[2018-09-05 19:31] JakubkrizAldaGames commented on #235
thanks I dindnt think of that. I renamed the folders and it works now guess installing windows in your native language isnt really a good idea haha thanks again you saved me :)

[2018-09-05 19:35] bobokox commented on #229
I only have one monitor.
I've made some testscans. Most of the time (ca. 90%) it happens while FeatureExtraction. If it gets over this, DepthMap is the next critical point. The total reboot while Meshing only happened once till now.
I even did one succesful scan after I updated my chipset drivers yesterday. But the second attempt caused the error again, also all the attempts afterwards.
Just conta

[2018-09-05 22:02] Karl1206 opened #236 "Not possible to project textures after re-topology?"
After the mesh filtering stage, I stopped the process to UV unwrap the mesh myself instead of it being done automatically. To do that though I didn't want to work with 1.3 million tris so I reduced the mesh quite a bit as I didn't need that much detail in the base mesh but I still wanted to bake it on a normal map after. After I reduced my poly count and unwrapped my mesh it is failing on the text

[2018-09-06 07:14] EnigmaHong commented on #180
Thank you for your answer, the qmlAlembic plugin is not installed. I will try to install it .

[2018-09-06 08:35] yann-lty commented on #229
Wow, this is really surprising... 😮 Glad you find the root of your problem.
Could you close this issue if you're considering it resolved?
And don't hesitate to share your scans! :)

[2018-09-06 08:46] andybak commented on #234
It's not even a "get off my lawn" thing with new fangled SAAS apps vs old-school forums. I never fathomed why people found IRC any good for support. Same questions asked multiple times because finding old answers was too hard. People talking over each other because there's no threading.  I've never really succeeded in getting good answers from any chat-based system. I think it's possible if you're

[2018-09-06 09:04] yann-lty commented on #236
It is possible to reproject textures after re-topology and custom unwrap. The only constraint is to **NOT** modify scale/orientation of the model, in order to stay in the same 3D space as the original reconstruction.
To retexture a user mesh, your need to remove the connection arriving on Texturing node's `inputMesh` (right click connection > Remove) and write the path to your mesh in the attribut

[2018-09-06 09:51] Karl1206 commented on #236
Thanks for the answer Yann, I tried what you showed but have the same issue, Heres a screenshot of my node setup and a copy paste of the log for my texturing node.
![image](https://user-images.githubusercontent.com/17119382/45149801-b1d77e00-b1ca-11e8-94e9-ca80fb6da39e.png)

Program called with the following parameters:
 * angleHardThreshold = 90
 * bestScoreThreshold = 0
 * downscale =  Unknown T

[2018-09-06 10:16] yann-lty commented on #236
Indeed, the mesh is not loaded properly. Could you share your obj file so we can debug this?

[2018-09-06 14:13] Automoda commented on #211
Ok.  The mtl file seems correct in that it shows a list of textures.   On the other hand, the material when viewed in 3dsMax lists as a multi/sub-object material (thats how it should be) and explicitly has only 2 sub materials:
Name=TexturedMesh_mso
ID=1 (empty gray) named "default"
ID=2 (texture0.png) named "textureatlas_0"

The mesh itself, when tested by clicking random tris and also making a d

[2018-09-06 15:47] bobokox commented on #229
Of course.
here is a picture of the final test scan. pretty amazing program :)
https://img2.picload.org/image/dlipclpw/meshroom_show.jpg

[2018-09-06 15:47] #229 closed

[2018-09-06 15:47] ChemicalXandco commented on #234
Ok, so we think that discord/instant messaging service is not the answer, then what is? just look at #179, [alicevision/AliceVision#500](https://github.com/alicevision/AliceVision/issues/500), [alicevision/AliceVision#491](https://github.com/alicevision/AliceVision/issues/491) and https://groups.google.com/forum/#!topic/alicevision/1CMyhsQZ0PI all asking the exact same thing. With these forums, so

[2018-09-06 16:25] anccon opened #238 "No camera insrinsic Paramentrs? missing metadata"
Help me please, every time i upload pohto in meshroom at photos right top corner is yellow thing and when you put your cursor on it, it says "No Camera Instrinsic Parameters (missing metadata?)"
what to do?
Can some smart person help me?

![screenshot_1](https://user-images.githubusercontent.com/43042727/45171270-a2782500-b20a-11e8-8100-77fb829241ca.jpg)

[2018-09-06 16:31] zvrba commented on #234
The solution? Probably a FAQ. "Sensor not found in db" is a perfect fit for the FAQ. Issues that are answered in the FAQ get closed immediately.

[2018-09-06 19:50] Karl1206 commented on #236
Have you had a chance to have a look? I'm kinda stuck haha.

[2018-09-07 05:44] miikkaeli opened #239 "Photo alignment / meshing errors"
Hello, thanks for releasing the binaries for this great tool! I finally got around to trying it out, and I did so on a fairly normal dataset of a birch tree. However, there is a problem with the output I got with the default settings and I couldn't really figure out which settings to change. The one on the left is from COLMAP+openMVS combination, the one on the right is Meshroom.
![comparison](htt

[2018-09-07 06:42] ChemicalXandco commented on #239
So the problem is alignment? Just put matching preset to High or Ultra and sift+akaze that should do it.

[2018-09-07 07:19] realsammyt commented on #211
I second this comment for a culling/cropping preprocess to be able to focus the texture on the desired object. Atlas mapping and multiple texture OBJs introduce excessive issues.

[2018-09-07 07:45] anccon commented on #238
What do you mean?

[2018-09-07 07:56] philipposslicher commented on #206
Heres the log output. Also note that when the cli spits this out, for some reason windows explorer opens a new tab. (no idea why)
`[QtOIIO] Plugin Initialized
[DepthMapEntity] DepthMapEntity
Failed to download scene at QUrl("")
find: ‘/I’: No such file or directory
find: ‘/N’: No such file or directory
find: ‘SoundMixer.exe’: No such file or directory
find: ‘/I’: No such file or directory
find: ‘/

[2018-09-07 10:26] fabiencastan commented on #239
The first thing to check: How many images in input? How many cameras reconstructed in the StructureFromMotion?

Could you also copy-paste the end of the SfM log?

[2018-09-07 15:05] ChemicalXandco commented on #238
![tempsnip](https://user-images.githubusercontent.com/32775248/45226893-c180c080-b2b7-11e8-9c23-dd9ffc4fa490.png)

[2018-09-07 16:28] dedouille2001 opened #240 "Process got stuck on Feature Extraction.."
Hi! I installed Meshroom (version 2018.1.0 and tried to run it but I have the process got stuck on FeatureExtraction node. Here's what I got on the log :

Nodes to execute:  ['FeatureExtraction_1', 'ImageMatching_1', 'FeatureMatching_1', 'StructureFromMotion_1', 'PrepareDenseScene_1', 'CameraConnection_1', 'DepthMap_1', 'DepthMapFilter_1', 'Meshing_1', 'MeshFiltering_1', 'Texturing_1']
WARNING: do

[2018-09-07 17:06] miikkaeli commented on #239
Hey guys, thanks for answering! Setting the matching preset to High and also checking akaze fixed it. It took way longer but gave a clean outcome. :)

I actually checked the SfM log as well, and it would seem to me all the images were part of the earlier reconstruction so I'm assuming the initial alignment was the problem.

[2018-09-07 17:17] insanity180 opened #241 "Question: Not Reconstructed"
I am working on my first photogrammetry project and for whatever reason I am having an issue getting multiple images (basically a third of my asset) to construct. Anyone have knowledge on why they may fail?

My images can be found here [https://drive.google.com/drive/folders/1kXFitUqLkFnr4j3m7keTeXWc2SvrtgpI?usp=sharing] (Takes about 20min to get structure on 7700hq and 1060)

Additionally I had t

[2018-09-07 19:14] insanity180 commented on #241
Update: Just changed my Describer preset to high and also added akaze to my describer type. used to have 23 images not be constructed, now I am at 13. Going to try Ultra and hope it is done before the EoD. Any recommendations would be amazing!
![meshroomhelp2](https://user-images.githubusercontent.com/15659176/45238706-c5f5ab00-b2b0-11e8-8e41-a6c1af993190.jpg)

[2018-09-07 22:35] nafergo commented on #238
Maybe your camera is missing. Check this
https://github.com/alicevision/AliceVision/issues/491

[2018-09-08 08:57] zizenet opened #242 "meshroom without cuda"
Hello,

I try this awesome program but it cant calculate depth information without cuda.
(it is possible tur off this mode?)
Any chance support meshroom without cuda 2.x in the next release?

Thank you.

[2018-09-08 11:11] Xerxesious opened #243 "Stuck at meshing"
Hey Guys

This is my log entry:

Program called with the following parameters:
 * angleFactor = 15
 * contributeMarginFactor = 2
 * depthMapFilterFolder = "C:/Users/Mat/Desktop/Mat/Tree/Cropped/MeshroomCache/DepthMapFilter/8fdb6e15a6aa7efd82a88332f8d75a0bb5239b8f"
 * depthMapFolder = "C:/Users/Mat/Desktop/Mat/Tree/Cropped/MeshroomCache/DepthMap/b529a5506adae74ac7bbda0db1071c4e4ff50256"
 * ini = "C

[2018-09-08 13:38] #242 closed

[2018-09-08 17:11] scientes commented on #200
Have the Same /similar problem:
My workflow:
1. Shot by canon5dmk2 with 50mm 1.8 stm II lens with dual iso (the room was pretty dark)
2. Processed dual iso
3. Color correction through Adobe camera raw (exported to jpeg with all metadata enabled)
4. started meshroom 2018.1.0 (latest release)

Log:

Plugins loaded:  CameraCalibration, CameraConnection, CameraInit, CameraLocalization, CameraRigCalibr

[2018-09-08 19:12] EthanKoltz commented on #241
I was able to get okay results on ultra with akaze enabled on both the movement and the feature option ( I believe in away from my computer). I guess my biggest thing is why would an image not be constructed. What causes this? Also my ultra with these extra options had worse results then you so perhaps I missed settings in the mesh and texture steps.

Also I have tested this on both a 1060 and a 1

[2018-09-09 08:54] ChemicalXandco commented on #241
You don't need 100% of images to be aligned, it's not the end of the day if several don't get 'constructed' as long as you can have it from most angles. The reason why they don't get reconstructed is that it can't compute the exact location of that camera, and so having that camera would only spoil the scene. Sometimes, no matter how much Ultra you put, it will still not work, but you just need to

[2018-09-09 20:36] Henri2h commented on #243
Hey Guys,
I have the same issue :

Program called with the following parameters:
 * angleFactor = 15
 * contributeMarginFactor = 2
 * depthMapFilterFolder = "C:/Users/henri/3D Objects/plateau 2/MeshroomCache/DepthMapFilter/9ac2bcd2ca8fdbf1b183ee1ea6938bdd10ee6701"
 * depthMapFolder = "C:/Users/henri/3D Objects/plateau 2/MeshroomCache/DepthMap/a51782665925232ed03086213a95d327f041a21e"
 * ini = "C:/

[2018-09-10 09:14] pwab commented on #243
Same here

### HARDWARE
 * Intel(R) Core(TM) i7-7700 CPU @ 3.60GHz
 * NVIDIA GeForce GTX 1050 Ti (GP107-400) [768 CUDA-cores]
 * 16GB Crucial DDR4-2400

### SOFTWARE
 * Windows 10 Pro 1803 64-bit
 * [Meshroom 2018.1.0 (2018/08/09)](https://github.com/alicevision/meshroom/commit/e5376b9c93eaed1eac32454064b3af327a691980)
 * NVIDIA Driver 399.07
 * NVIDIA CUDA 9.2.217

### LOG
[code]

[2018-09-10 17:42] LukeV1 commented on #216
This may also be a sign that the issue is not even originated in the OIIO code but in some windows lib or even a compiler bug. Because viewing properties of a exe shouldn't affect any code in the running application :thinking:

[2018-09-11 01:34] DarkCluster opened #244 "GPU Not fully utilized?"
I have 2 1080 TIs,  in SLI , 64 GB RAM with a threadripper 1950X for processor. I noticed a couple of things
1. It seemed that the GPU never went over 15% on either of the GPUs but was mostly using CPU for feature extraction.

2. It seems to take a long time to do feature matching, again, not much GPU usage.

Do i need to do something to enable GPU utilization? Also can Meshroom utilize SLI?

Than

[2018-09-11 06:44] DarkCluster commented on #244
Seems like disabling SLI increases the GPU utilization. But you can only use 1 GPU?

[2018-09-11 06:59] Valouleloup commented on #244
I think this is related to [#481](https://github.com/alicevision/AliceVision/issues/481)

[2018-09-11 15:34] ChemicalXandco commented on #234
There is a very old PR (#19) that has 'FAQ to explain the common errors' but that was never done.

[2018-09-11 15:39] ChemicalXandco commented on #244
Only the depth map node uses GPU/CUDA the rest only use CPU. As you can see in this screenshot, the meshroom ui with nothing loaded/running uses some GPU, which explains the usage you are seeing:

![cap1](https://user-images.githubusercontent.com/32775248/45370860-0f136b00-b5e1-11e8-9c2e-1adb36c51535.png)

The depthmap isn't very well optimised, as @Valouleloup pointed out.

Please see [this threa

[2018-09-11 15:41] DarkCluster commented on #244
Seems like disabling SLI increases GPU Utilization but your right only spike i saw was in depth map calculation. Also thank you for redirection to #481 :) . I'll check out #186 as well.

Cheers!

[2018-09-11 15:54] fabiencastan commented on #234
Hi @ChemicalXandco,

Thanks a lot for making propositions and also for your answers to multiple questions. I don't know what would be the best setup for the support. We were discussing about creating a gitter, but that's probably too early for us to deal with that. The idea would be to do things progressively. So FAQ is obviously a good starting point and help is welcome!
We apologize if we can't

[2018-09-11 16:01] fabiencastan commented on #186
Hi @AdityaSrivastava2819

Thanks for your message. As explained in https://github.com/alicevision/meshroom/issues/234, we are a small team and cannot manage to maintain all that. Creating videos, update blogs and forums takes a huge amount of time.
Contributions would be much appreciated to help us to focus on speedups and new features for the next release.
Best,

[2018-09-11 19:00] ChemicalXandco commented on #186
@fabiencastan I am ok in python and would like to contribute to meshroom but the codebase is confusing to me, what would be the best way to get in touch with the devs so I can be familiar with it?

[2018-09-11 19:30] fabiencastan commented on #186
@ChemicalXandco Oh cool, that would be great! @yann-lty is on vacation this week and he knows this part better than anyone else. So we can setup a conf call next week for a first meeting if it's good for you.

And then of course, we will see for slack or gitter for direct discussions.

[2018-09-11 23:02] slate0 commented on #146
In my Windows 10 64bit system, I found that once I closed Meshroom, a python exe remained running on my system (using task manager).  I ended the process and when I booted Meshroom again, I was able to drag and drop images into Meshroom.

[2018-09-11 23:06] slate0 commented on #146
Watch out with that PATH and EXPORT command.  Windows is so messed up it might truncate the user's path, losing data, and EXPORT makes it impossible to get the data back (had this happen to me while building some other open source software).

I believe the solution was to use the gui environment variables tool.  I would recommend looking into it.

[2018-09-11 23:42] slate0 commented on #186
"CG Geek" has a 35 minute quick tutorial.  Well, he it's Meshroom for 12 minutes and then he moves to blender for further processing.  https://www.youtube.com/watch?v=k4NTf0hMjtY

[2018-09-11 23:51] benlamasoon commented on #211
@Automoda I'm having the same issue in 3dsmax. Did you mange to import models into Max with the correct texture coordinates? The .obj files have correct texture mapping in other programs like MeshLab and even the native Windows 10 obj viewer. I cant understand why it gets all screwed up in Max.

[2018-09-12 00:48] slate0 commented on #234
I would suggest the following options to help your team control the flood:

- start using standardized labels to mark issues ie: "things for faq", "troubleshooting tip", etc

- make it so that only primary devs have permission to assign tags (then you can separate developer accepted issues from user Q&A.  There is a label filter, right?).

- You could also remove permissions for new issue creation

[2018-09-12 06:58] ChemicalXandco commented on #186
@fabiencastan don't waste your precious time on me, I'm only interested in the front-end and I can probably work out a lot of it anyway. Gitter is fine thanks.

[2018-09-12 20:40] kynjo commented on #185
Hello guys, did you solve the problem?

[2018-09-13 00:08] benlamasoon commented on #211
@Automoda Found a work around to fix this issue. Not great as it does not fix the problem but its easy.

Import .OBJ file into Blender and export as .FBX default settings. Takes about 30 seconds. Import to Max, all textures should come in as well provided they were in the same folder as the obj and fbx.

To anyone else reading Blender is free and you can get a feel for the program from CG geek
htt

[2018-09-13 03:38] bhallnz opened #245 "aliceVision_cameraCalibration: not found"
Using the prebuilt linux binary release (2018.1.0) and attempting CameraCalibration results in:

ERROR:root:Error during Graph execution Error on node "CameraCalibration_1":
Log:
/bin/sh: 1: aliceVision_cameraCalibration: not found

Full steps to reproduce the problem: Right click in "Graph Editor" >  "CameraCalibration" to create a cameraCalibration node. Right click the new node and hit "Compute

[2018-09-13 05:48] fabiencastan commented on #245
Yes, the first binary release (2018.1.0) doesn't include dependencies that are not required for the main 3D reconstruction pipeline.
This will be available in a next release.

[2018-09-13 11:51] maximeseguin opened #246 "Orthoimage support"
Have you plan to support orthoimage generation (orthogonal image projection of textured mesh) ?
With GCP support, it will be a nice tool.

[2018-09-14 09:53] Kaiz3rTool opened #247 "no documentation"
miss a software documentation even if it's pretty logical, that can help for more advanced control

[2018-09-14 18:34] aRe0eim7 commented on #216
Here's a script I wrote for sort of working around this issue.  It requires cygwin64 and I ran it under windoze 7 64.  File uploading to attach didn't work, so I made a gist.

[fix-meshroom-status](https://gist.github.com/aRe0eim7/216651542204a19f45eec1745104439d)

It's a complete hack, but it eliminates much of the manual work needed to use meshroom if you are seeing these errors.  The script run

[2018-09-14 18:38] aRe0eim7 commented on #183
I made a [gist ](https://gist.github.com/aRe0eim7/216651542204a19f45eec1745104439d)to automate this if you have cygwin64.  Just alternate clicking "Stop" and "Start" (waiting for the step to turn green).

It's a hack, but it saves a lot of status file editing, :-).

[2018-09-15 09:07] judge-mental commented on #225
Exactly the same problem on Ubuntu 16.04 ending with 'Segmentation fault (core dumped)':
MBPro Intel® Core™ i7-4960HQ CPU @ 2.60GHz × 8
GeForce GT 750M/PCIe/SSE2

[2018-09-16 00:33] sirwillard commented on #183
Yep, that's the bug.  The process completes but doesn't terminate, so the reconstruction cant progress.  You can look in the above comments for the work around editing status files.
It works, but I've tried it and I dont suggest doing it.  The stage is fine, but you'll have to do it again at least 20 times during different stages after structure from motion.  DepthMap is the worst.

[2018-09-16 00:35] JazzCousins commented on #183
It hasnt quite completed for me, the colour is never computed, does anyone else have this issue?

[2018-09-16 05:51] zvrba commented on #183
Did anyone try to attach a debugger to the stuck process and dump stack traces of all threads?

[2018-09-16 11:23] Lemente opened #249 "Stuck at MeshFiltering (Graph is being computed externally)"
Hello

I let MeshRoom run during the night, and when I woke up, it was stuck at MeshFiltering. It was fully orange, and the "start" button was greyed. It was using aroung 5% of my CPU. Not sure about the memory/GPU, maybe 20%. When I hit "stop", the CPU usage dropped.

I saved and restarted my computer. I opened the project, but now both "Start" and "Stop" are greyed out, with the mention "Graph i

[2018-09-16 15:28] ChemicalXandco commented on #249
I heard that this can be fixed by clicking on the bad node, And in attributes click on the cog then 'Clear Submitted Status'
![tempsnipclr](https://user-images.githubusercontent.com/32775248/45598040-1fef2280-b9cd-11e8-9a54-257a687a5a89.png) Then you should be able run that node again. Let us know if this works.

[2018-09-16 15:52] mmiiqquueell commented on #249
It happens to me at each node, pressing Stop and Start continues but when it reaches the node Structure from motion and next nodes it doesn't continue. This happens in Windows 7, Thanks to a user who already answered a previous topic, it indicates that you can continue manually editing the Status file of each node once the processing is finished. The only problem is .... when I wanted to do the te

[2018-09-16 16:01] andershem commented on #185
Same in linux mint 18

[2018-09-16 17:49] kynjo commented on #185
Hmm. In my case all problem be in path. I just copy in /home/user/Meshroom.

[2018-09-16 17:50] ChemicalXandco commented on #249
It might be related to #183 but there is no mention of it locking the start button.

[2018-09-16 19:07] robertguetzkow commented on #188
@finnbear exactly as @octupe described. Sorry been on vacation, that's why I didn't respond sooner.
GIMP, Krita, Affinity Photo, Photoshop or any other image editing software that allows to use layers.

[2018-09-16 19:14] fabiencastan commented on #188
I agree that this would be a good feature.

In the meantime, a simple workaround is to apply your mask on the input pixel (RGB=0). There is no drawback in doing that. You just need to be careful to keep your image metadata (if your image editing software doesn't preserve metadata, you can transfer metadata from one image to another with exiftool).

[2018-09-16 19:40] robertguetzkow commented on #219
@yann-lty Courier New should be available by default on Windows.

[2018-09-16 19:46] fabiencastan commented on #188
Yes sure but in practice it works quite fine.
I have always used soft-edges on my masks.

[2018-09-16 19:56] nickdiamant commented on #179
Hey everyone, I have a fix to a similar error. I had the following error:
[code]
I modified the file Meshroom-2018.1.0/aliceVision/share/aliceVision/cameraSensors.db so that it had the line "Canon;Canon EOS Rebel T6;22.3" in it (in the appropriate alphabetical location), and it worked.

[2018-09-17 00:01] chrisnagy commented on #243
First time for me today Stuck on Meshing Never had a problem b4 the model is a bit more complex wiht 214 images

[2018-09-17 10:01] mmiiqquueell commented on #249
Yes, and this is the solution (manual):
https://github.com/alicevision/meshroom/issues/183#issuecomment-414952460

The start button I don't know how it works exactly, sometimes it's blocked and sometimes not, when that happens I close the program, delete the entire folder (cache folder) and start over again and replace the saved file. Since otherwise it gets stuck and you can't do anything, the pr

[2018-09-17 23:41] rygo6 opened #250 "Alicevision only using 1 GPU?"
I tried Alicevision on a machine with 8 Nvidia K80's installed. It seemed to only utilize one. Is this correct? Is there someway to get aliceVision to use all GPU's?

AliceVision does recognize all 8 K80's. It reports seeing all 8 of them multiple times.

[2018-09-18 06:58] ChemicalXandco commented on #250
Is this the same as #244? 8 Nvidia K80's is very overkill, and depthmap is not optimised anyway. Even if you could get all of them to be utilised, it's just not worth it. I've not ran it with more then one GPU, but it seems correct.

[2018-09-18 13:44] chrisnagy opened #251 "Complex Models Dont Mesh"
The more Complex Model the more It gets stuck on Meshing and will not go further

Nodes to execute:  ['Meshing_1', 'MeshFiltering_1', 'Texturing_1']

[1/3] Meshing
 - commandLine: aliceVision_meshing  --ini "C:/Users/Dragon Stone/Desktop/Bench/MeshroomCache/PrepareDenseScene/2781cadb0ef13a4e0bab1efb057e8e4ca086de5f/mvs.ini" --depthMapFolder "C:/Users/Dragon Stone/Desktop/Bench/MeshroomCache/DepthM

[2018-09-18 18:51] FloPePe opened #252 "Crash of AliceVIsion"
**Configuration**
Version 2018.1.0
Windows 7
Python 3.6.5

Hello, When i "start" my project, during the "StructureFromMotion", AliceVision crash and i have a message from windows "AliceVision_incrementalSfM - AliceVision 2.0.0 has stopped working" .

[2018-09-19 00:01] BKLronin commented on #249
I had a similar issue and I also cleared the submitted statuses of the following nodes. That enabled the play button for me.

[2018-09-19 06:01] DevoStevo66 commented on #243
I've also got stuck on Meshing node for this model. Accepted all images and the SFM in 3D view looks fine but won't finish meshing. I've had success with several other Meshroom models, just not sure why it hangs up on this one.  I did notice at the end of the log the "Overall maximum dimension:" is "1368 x 1368" whereas my image size is 2736 x 2736. Not sure if this has any relevance but did seem

[2018-09-19 08:01] fabiencastan commented on #243
Could you try to reduce the value of `maxPoints` on the Meshing node to avoid using too much RAM & SWAP?

[2018-09-19 08:01] fabiencastan commented on #251
Could you try to reduce the value of `maxPoints` on the Meshing node to avoid using too much RAM & SWAP?

[2018-09-19 11:15] chrisnagy commented on #251
I will try this today..

[2018-09-19 12:13] chrisnagy commented on #251
I put it down to 500000 and it went through.. (thumbs up) I will keep upping the count to see which will break it

[2018-09-19 15:38] tyguymedia opened #253 "Noticing something with the database file"
I found that my Canon Rebel EOS t6 was not in the database, and so I couldn't get past the initialization process, getting this error:

[11:31:29.167103][error] Sensor width doesn't exist in the database for image(s) :
[11:31:29.177098][error] image: 'IMG_2836.JPG'
        - camera brand: Canon
        - camera model: Canon EOS Rebel T6

I went into the db file to try and add it, and no matter how

[2018-09-19 17:50] simogasp commented on #253
related to https://github.com/alicevision/AliceVision/issues/485

[2018-09-20 08:40] fabiencastan commented on #253
@tyguymedia Thanks for your precise report.

[2018-09-20 11:11] Anar91 commented on #249
Hi,
it also happens to me on Windows10.
I'm using command line instead of the GUI but computation will stop after some node without calling the next one with no reason (last computed node having status "SUCCESS"). Most of the time it will happen during the DepthMap node where it will only compute them one by one (stopping after each one).
So I have to kill the task and launch it again with --toNod

[2018-09-20 16:36] Heller93 commented on #223
Hi I have the exact same problem, no matter what settings I use (used the default settings and random numbers, made no difference)  I get that blob. all the while SfM looks perfect!
I don't if it could help you to figure out the problem but, generated EXR DepthMapFilters are in the shape of [stripes](http://prntscr.com/kwnwf2) , and the depth map itself looks like solid fill layer.
To test if my c

[2018-09-20 16:41] Heller93 commented on #223
Hi I have the exact same problem, no matter what settings I use (used the default settings and random numbers, made no difference)  I get that blob. all the while SfM looks perfect!
I don't if it could help you to figure out the problem but, generated EXR DepthMapFilters are in the shape of [stripes](http://prntscr.com/kwnwf2) , and the depth map itself looks like solid fill layer.
To test if my c

[2018-09-21 06:37] qdxizao opened #254 "Unknown input SfM data format: '.abc'"
I have a problem when use meshroom:
[error] Unknown input SfM data format: '.abc'
[error] The input SfMData file 'C:/Users/89b0/sfm.abc' cannot be read.

[2018-09-21 08:29] qdxizao commented on #254
but I have Alembic.

[2018-09-21 08:41] qdxizao commented on #254
@fabiencastan
thanks,but I have Alembic.

[2018-09-21 08:47] fabiencastan commented on #254
Need more information to help you, like platform, log, step of the pipeline concerned, version used, is it manually built, etc.

[2018-09-21 09:17] qdxizao commented on #254
@fabiencastan
It is my Log: Program called with the following parameters:
 * input = "F:/sift/work/MeshroomCache/StructureFromMotion/24a10fc95fb3dff5cea66be81ac03b4b896fecc0/sfm.abc"
 * output = "F:/sift/work/MeshroomCache/PrepareDenseScene/b6d85904629b2e7f017e2ed1221eb568a87e3179"
 * verboseLevel = "info"

[16:14:20.139697][error] Unknown input SfM data format: '.abc'
[16:14:20.140667][error] The

[2018-09-21 09:28] qdxizao commented on #254
@fabiencastan
My Meshroom is 2018.1.0
My Alembic is 1.7.8

[2018-09-21 11:25] TheBricktop opened #255 "Kinect camera pipeline"
Do Alicevision could have support for RGBD cameras for sfm ?

[2018-09-22 21:28] MuskofEphesus commented on #179
I have a Canon EOS Digital Rebel XTi and adding (Canon;Canon EOS DIGITAL REBEL XTI;22.2) under (Canon;Canon EOS Rebel T6s / 760D;22.3) seems to fix the error; although I've yet to pass the FeatureExtraction phase. I'm running meshroom with a GeForce GTX 745 (388.13) on Windows 7.

[2018-09-23 00:13] DevoStevo66 opened #256 "Camera / model orientation upside down"
When my models load in Meshroom, they are always orientated upside down relative to the grid.
Just wondering if you can, and how you would re-calibrate the camera or change a setting somewhere to fix it's axis orientation?

I've looked at CameraInit and SFM node attributes in Meshroom but I really have no idea where to start.
Otherwise it would be good if you could re-orientate the mesh in Meshroo

[2018-09-23 01:47] hchattaway opened #257 "file already exists error"
hello!
I was pretty psyched to find this app... but am having a very hit and miss success with it getting it to work.
I often get this error:
ERROR:root:Error during Graph execution [WinError 183] Cannot create a file when that file already exists:
I happens fairly quickly and then the Start/Stop buttons are grayed out and it won't proceed.
The image set consists of 26 images that are 4032x2268 pi

[2018-09-23 08:00] ChemicalXandco commented on #256
I don't think it is possible in meshroom but you can import the obj into [meshlab](http://www.meshlab.net/#download) then go to `Filters > Normals, Curvatures and Orientation > Transform: Rotate` and align it yourself from there.

[2018-09-25 03:00] qdxizao commented on #254
@fabiencastan
Thanks for your help. I put qmlAlembic in the root directory of AliceVision and the problem has solved.

[2018-09-25 07:45] qdxizao commented on #205
@Chaks243 I have the same problem as you. How do you solve this problem？

[2018-09-25 08:57] Stano71 opened #258 "Invalid texture reference/ Invalid device function .. DepthMap Win10 Pointcloud good mesh broken"
Most likely something I did  wrong but Meshroom  has errors at Depthmap .. Invalid texture reference, I dont have F:/...  With only 6 pics from the monstree set the process completes but is not textured correctly UPDATE : it completes with full set of pics but still looks wrong and same error messages in log.. PLEASE HELP !
 using the Windows 64 build   from here     https://github.com/alicevision

[2018-09-26 08:27] DevoStevo66 opened #259 "nlEigenSolve_ARPACK "Could not factorize matrix" error"
I'm getting an error in the Texturing Node log "nlEigenSolve_ARPACK...Could not factorize matrix" during mesh atlasing. Just wondering if this can be easily fixed. I did notice nlEigenSolve_ARPACK was also from AliceVision (Geogram) but I have no idea on how to add any code to Meshroom. I just double click it to run.

[2018-09-26 09:09] fabiencastan commented on #259
Which platform version and what unwrapping mode?
Did you use the binaries of the version "2018.1.0" or did you build it yourself?

[2018-09-26 19:42] atsage opened #260 "This program needs a CUDA-Enabled GPU (with at least compute capablility 2.0)."
I have a Quadro 2000 which according to this page https://en.wikipedia.org/wiki/CUDA is compute capability version 2.1.  I've updated the drivers and it did not make a difference.  Is there any way to make this GPU work?  As a side note, there is a typo in your error message: capablility has an extra l and should be capability.

[2018-09-27 05:04] Stano71 commented on #258
![meshroom error](https://user-images.githubusercontent.com/6028657/46124303-a70e8700-c266-11e8-9ef9-6b0987705c4b.jpg)

[2018-09-27 05:28] Stano71 commented on #258
![output](https://user-images.githubusercontent.com/6028657/46124920-ff935380-c269-11e8-868a-a655c8b4268f.jpg)

[2018-09-27 14:10] Trikos opened #261 "Structure From Motion Error"
Can somebody help with mey error? I didnt understand what's the problem
ERROR:root:Error during Graph execution Error on node "StructureFromMotion_1":
Log:
Program called with the following parameters:
 * describerTypes = "sift"
 * extraInfoFolder = "C:/MeshroomCache/StructureFromMotion/a1abdd190cc6aa6bcdd7a44fb9c0628d036b15cb"
 * featuresFolders =  = [C:/MeshroomCache/FeatureExtraction/9772772598

[2018-09-27 14:13] atsage commented on #260
I finally figured out how to query the video card info (below).  The newest toolkit does not support my video card so I had to go back to v8.  Here is the output.  As the wiki pages suggests, it's compute capability version 2.1.  Is there some other check for this card that is failing?

PS E:\Programs\NVIDIA GPU Computing\extras\demo_suite> .\deviceQuery.exe
E:\Programs\NVIDIA GPU Computing\extras

[2018-09-28 02:52] Stano71 commented on #258
When I load the model.......  and the resulting mesh
![mesh1](https://user-images.githubusercontent.com/6028657/46185469-5312a980-c31d-11e8-8098-685d5b1767ed.jpg)

Plugins loaded:  CameraCalibration, CameraConnection, CameraInit, CameraLocalization, CameraRigCalibration, CameraRigLocalization, ConvertAnimatedCamera, ConvertSfMFormat, DepthMap, DepthMapFilter, ExportAnimatedCamera, ExportMaya, Expo

[2018-09-28 09:16] McSmithe commented on #208
It did not import images for me as well, but if I just open them and resave them it did. Doesn't need to resize, something about the image format from the phone makes it break

[2018-09-28 13:21] nzick commented on #261
I have the same issues.

Here is the log:
`[5/13] StructureFromMotion
 - commandLine: aliceVision_incrementalSfM  --input "cache/cache/cache/cache/CameraInit/e8aec14c25db02bab43f371a3c9abc28eec32e6f/cameraInit.sfm" --featuresFolders "cache/cache/cache/cache/FeatureExtraction/7344a16d36e7fc0fbf79f8351b29c4c3b09cf39d" --matchesFolders "cache/cache/cache/cache/FeatureMatching/fd87a2abba5d7cdb94ee6704

[2018-09-28 15:17] ChemicalXandco commented on #258
Maybe try more then 6 images, the dataset has like 40

[2018-09-28 15:28] KFFTFUFTUR commented on #224
also it would be great to add the information that meshroom needs Cuda on the Project page so people like me who have a powerfull AMD card dont install it just to see that it was incompatible with their system.

or you might just add CPU or maybe even OpenCL Support, but usually people who use CUDA dont care about others not having the hardware.

[2018-09-28 19:01] fabiencastan commented on #224
Yes, it would be good to add a warning when starting the application. We could add an invalid status on the GPU nodes if we cannot compute them locally (but can still submit them).

Regarding the download page, it's already indicated explicitly that "NVIDIA CUDA-enabled GPU (compute capability >= 2.0)" is required: https://github.com/alicevision/meshroom/releases

[2018-09-29 08:04] Stano71 commented on #258
I tried all 41 images and the error messages are still the same.
Why does it look at this location, there is NO    F:/...   on my system???? ...
Thankyou for your help.

CUDAError: invalid texture reference
file: F:/GitHub/AliceVision/src/aliceVision/depthMap/cuda/planeSweeping/plane_sweeping_cuda.cu
function: aliceVision::depthMap::ps_deviceUpdateCam
line: 402.    ALL the errors are looking for t

[2018-09-29 15:18] burgerlX opened #262 "Camera model"
I am using Alcatel U5 but i dont know what to add to the cameraSensors.db file
Please help

[2018-09-29 15:45] burgerlX commented on #262
Does anyone know whats the camera sensor width?

[2018-09-29 20:06] polynaught commented on #179
Hi,
I'd like to see the sensor width of the Motorola G5 added to the database.
I cannot find it online (neither devicespecifications.com nor wikipedia state anything relevant) - the only thing one can find is the MP of the G5. G5S, G5S Plus, G5 Plus seem to use totally different CMOS... :(
Any ideas where to find this data?

[2018-09-30 03:46] littlewhitebutterflies commented on #260
I am having the same problem during the Depth Map phase. I get the error "This program requires a CUDA-enabled GPU (with at least compute capability 2.0). I have a GeForce GTX 1050, which runs CUDA and has a compute capability of 6.1. I have tried reinstalling my drivers, which has not worked, and my GTX 1050 driver is up-to-date. Anyone have any ideas on how to solve this?

[2018-09-30 08:17] ChemicalXandco commented on #262
Looking at https://www.devicespecifications.com/en/model/a2f841ac, there is no value for sensor width. I cannot find anywhere so your best bet is to wait until the next release according to #245 where `cameraCalibration` will be included in the binaries and by showing multiple veiws of a checkerboard, it can retrive focal length, principal point and distortion parameters.

[2018-09-30 10:50] polynaught commented on #179
@ChemicalXandco thx for the quick reply. I'm definitely going to use a better camera for future trips to the woods. But that calibration feature you mentioned sounds nice!

[2018-10-01 09:43] Heryx opened #263 "RuntimeError: CameraInit failed with error code 127"
Hi,
I tried to install meshroom on Ubuntu 18.04 LTS.
Meshroom folder is in Home path, but I don't understand if I have to install AliceVision inside Meshroom folder. I did that.
So, I run meshroom in this folder with this command: PYTHONPATH=$PWD python meshroom/ui
Then, I drag and drop my images in meshroom and I get that error.

Greetings.

[2018-10-01 10:41] millsoft commented on #205
I have the same problem but only with some images. Especially photos taken with Samsung Galaxy S9 (Front camera). I removed the exif data using `convert -strip input.jpg output.jpt` now I can import the file into meshroom. One problem s that when I remove the exif data, my picture gets rotated, so I needed to `convert -rotate -90 output.jpt output.jpg`.

This is just a quick fix for me. If one of

[2018-10-01 17:16] leenbzoold opened #265 "Python error: Py_Initialize: unable to load the file system codec"
I downloaded Meshroom-2018.1.0-win64.zip on Windows 10, unzipped it, clicked on the Meshroom executable and i only get these two error messages in the console:
Fatal Python error: Py_Initialize: unable to load the file system codec
ModuleNotFoundError: No module named 'encodings'
This happened while i had python 3.7.0 installed and it happened while i hadn't had it installed.
I've already checked

[2018-10-02 06:02] hyperfx commented on #183
I would also love to see this Win7 bug fixed. I was able to work through the entire node tree using the above described technique of editing the status file then pressing Start again, but when I got to the end, I just couldn't get it to export the texture or mesh.

My specs:
Built by Boxx Technologies
Win 7 Ultimate SP1
2 Xeon X5650 2.67 Ghz procs
108 gigs RAM
NVidia GeForce GTX Titan X

[2018-10-02 06:30] hyperfx commented on #216
The workaround more or less worked for me, but my resultCode was never 15. Usually it's 255. Does that affect anything or make a difference in what the bug could be?

[2018-10-03 06:51] stevelscott commented on #261
Same problem for me too.  I'm running the new Windows prebuild 2018.1.0 on Win10 laptop with GeForce 840M adapter and Python 3.6 already installed.
Testing with 145 high quality images of 2824x1884px.  Runs smoothly through all stages until StructureFromMotion, then AliceVision stops working with aliceVision_incrementalSfM error.

**Log file:**
Program called with the following parameters:
* descr

[2018-10-04 07:04] Devoney commented on #251
I think I experienced a similar issue. Got 302 images of a rock. The process halted after approx 12 hours in the meshing step. Memory exhausted it says. I got a GTX 980m with 8GB dedicated RAM, and a i7 Quadcore CPU with 32GB RAM. Which memory do you think got exhausted? I halved the value of max points by factor 0.5, and also for max input points. I pressed compute on the mesh step, and still wai

[2018-10-04 08:05] Shadetail opened #266 "Export pointcloud"
My reconstruction looks good in the sparse point cloud preview in the viewport, but reconstructed mesh turns out totally broken. Is there any way to export dense (or even sparse) point cloud?

[2018-10-04 08:30] fabiencastan commented on #251
The meshing step only use CPU/RAM.
You should monitor your RAM/SWAP usage to see if it's the problem.

[2018-10-04 08:31] fabiencastan commented on #266
Does the depth maps look correct?
You can visualize them by looking at the EXR files in the output of the DepthMapFilter node.

[2018-10-04 15:45] gregoire-dl commented on #253
Should be fix with alicevision/AliceVision#512
Thanks.

[2018-10-04 15:45] #253 closed

[2018-10-05 04:01] fake-name commented on #216
Any chance someone could bake a release with https://github.com/OpenImageIO/oiio/pull/2013 merged into the OIIO dependency?

[2018-10-05 07:19] Fehrox commented on #205
Hey @millsoft,

Thanks for posting your solution, I'm also facing this issue having used a Samsung Galaxy S9 Front camera. Could you add a little more info to your solution; for instance, where can convert be found and how should it be run? Is this part of the Meshroom installation or some other third party application?

Thanks for taking the time to post your solution btw.

[2018-10-05 09:03] fabiencastan commented on #216
We will try it in 2 or 3 weeks and upload new binaries if if it fixes the problem.

[2018-10-06 18:10] FrostyPenguin commented on #226
I had the same problem with my SONY DSC-HX9V.

It took me some minutes until I noticed that the console output was not `"SONY"` and `"DSC-HX9V"` but
`"SONY"` and `"DSC-HX9V               "` (it's hard to see but there are 15 spaces behind the model number).

After adding this entry to my database file (with the spaces)
[code]
everything worked just fine.

Perhaps you missed some spaces too.
Defini

[2018-10-06 18:16] mazzo23 commented on #183
hello all,
same here on my end on win 7 x64 with a GTX970; workaround works but is not feasible for easy reconstruction since its not intended to work like that. but its still a great peace of software.
meanwhile i use http://ccwu.me/vsfm/ for the pointcloud and http://www.meshlab.net/ for generating the mesh.

[2018-10-06 21:07] hyperfx commented on #216
I also could never get it to create the mesh. Using the workaround, I'd get to the final node, and it would change to green, but the .obj never shows up in the correct folder, and I can't ever load a model in the UI, although I can see the point cloud.

[2018-10-06 22:19] nmartin9319 commented on #260
I have the same problem too, with GTX 960M in the depth map phase. I'm sure that CUDA 9.0 was properly installed, since I can TensorFlow on GPU without any problems. The nvidia-smi also shows that meshroom uses my GPU (and in the previous phases, like Feature matching I see in the GPU usage, that it is actually used). Downgraded to CUDA 8.0, but the problem still occours.

[2018-10-08 12:03] atsage commented on #260
Is there anybody out there?

[2018-10-08 13:07] fabiencastan commented on #260
Sorry, we don't have the time to look at it right now, but will come back to you.

The code where we test the capabilities of the device is here:
https://github.com/alicevision/AliceVision/blob/develop/src/aliceVision/system/gpu.hpp

[2018-10-08 22:18] Stano71 commented on #258
![cherub sfm](https://user-images.githubusercontent.com/6028657/46636543-c75e1000-cb9b-11e8-8dd6-089f75059d9a.jpg)
![cherub mesh](https://user-images.githubusercontent.com/6028657/46636552-ccbb5a80-cb9b-11e8-8211-1768f8bf8803.jpg)
![cherub errors](https://user-images.githubusercontent.com/6028657/46636556-d0e77800-cb9b-11e8-87bb-af365555c6fc.jpg)

[2018-10-09 05:36] Stano71 commented on #223
I have the same problem  and believe its cuda related due to the errors in the logs.... ???
https://github.com/alicevision/meshroom/issues/258

[2018-10-09 11:07] PersonWithIssue commented on #216
It does, in fact, get stuck at FeatureExtraction. Fix it, please.

[2018-10-09 17:39] pfc commented on #260
Same problem, I have a 1070 and 1080 which both support CUDA.  Would be great to have a more detailed error message.

[2018-10-09 19:05] robertguetzkow commented on #266
The sparse point cloud is saved in **./MeshroomCache/StructureFromMotion/<hash>/cloud_and_poses.abc** (or .ply if configured in the SfM node setting named "Inter File Extension"). I believe the dense point cloud is stored in **./MeshroomCache/Meshing/<hash>/denseReconstruction.bin**, however I'm not sure if that binary format is anything that other software can read.

[2018-10-10 12:02] markus-i commented on #205
Same issue here. I grabbed 20 screenshots from a 3d site as a trial, and get stuck with

Loading features
0%   10   20   30   40   50   60   70   80   90   100%
|----|----|----|----|----|----|----|----|----|----|
***************************************************
[13:59:09.912966][warning] No matches file loaded in: D:/Markus/3dprinting/angryduck/MeshroomCache/FeatureMatching/69941c848455503b17b6

[2018-10-10 12:53] millsoft commented on #205
@Fehrox

Convert is a software that is a part of [image magick](https://www.imagemagick.org/script/index.php). Meshroom tries to read the exif meta data from the images and something is not right about the exif stored in S9 images.

[2018-10-11 02:49] SummerPoon928 commented on #180
What should the "qml" folder contain? In QML2_IMPORT_PATH=/path/to/qmlAlembic/install/qml ?

As I use CMake Plugins to generate the Visual Studio Solution and build successfully with "alembicEntityQmlPlugin.dll", "alembicEntityQmlPlugin.lib".

However, my built project does not contain "qml" folder.  I need to make it myself, so i would like to ask what should qml folder contain?

[2018-10-11 11:16] 1992Zz opened #267 "Build MeshRoom"
I have configured the relevant library, and the EXE file can also run, but there is no SFM module in the interface.Open files can only be selected in.Mg format, and no other formats such as JPG can be selected.I hope you can give us guidance, thank you.

Plugins loaded:  CameraCalibration, CameraConnection, CameraInit, CameraLocalization, CameraRigCalibration, CameraRigLocalization, ConvertAnimate

[2018-10-11 15:39] ChemicalXandco commented on #267
I don't know why you posted the startup log, but see #114 for an explanation about his message. In order to assist, are you using the [binary release](https://github.com/alicevision/meshroom/releases) `2018.1.0` or did you compile yourself? And on what platform are are you running on?

Meshroom project files are stored with a .mg file extension, and the actual files such as the sfm, depth maps and

[2018-10-11 16:25] natowi opened #268 "Suggestion: notification sounds"
- [ ] Notification sounds as an addition to the progress bar would be really helpful, especially when running Meshroom in the background.

Here are some free CC sounds:

Success:
https://freesound.org/people/original_sound/sounds/366102/ (CC BY-3.0)
https://freesound.org/people/rhodesmas/sounds/322929/ (CC BY-3.0)

Error:
https://freesound.org/people/Robinhood76/sounds/335188/ (CC BY-NC-3.0)

[2018-10-12 07:43] 1992Zz commented on #180
I don't have this folder!C:/Users/user/AppData/Local/Temp/MeshroomCache/StructureFromMotion/e9d2b41afe98ba8b4c3c609451b158247c3e3872/sfm.abc

[2018-10-12 09:02] natowi opened #269 "Improvements: Graph Editor"
For graph redesign:

- [ ] when hovering over a connector also highlight the start and endpoint on the nodes (and/or when hovering over the node option - at the moment the text is only highlighted blue)

![conne](https://user-images.githubusercontent.com/8138537/73079877-2943a580-3ec5-11ea-912d-88e058e592bb.jpg)

- [ ] click on connector: select connector; also highlight the start and endpoint on

[2018-10-12 09:03] TaironUsaro commented on #183
Could somebody pleeeeease clean this up.

1. this is not a Win7 issue as multiple Win10 users have reported the same issue

2. log files a important for debugging, but in this report the only thing they do is obsfucating the readability of the reports

[2018-10-12 10:37] Neelix96 opened #270 "Feature Request: Masking Tool like in Agisoft’s Photoscan"
Would help for scanning every angle of an object.
Found a tutorial von Photoscan:
https://bertrand-benoit.com/blog/the-poor-mans-guide-to-photogrammetry/

[2018-10-12 14:36] Powerbyte7 commented on #270
Duplicate of #188

[2018-10-12 14:46] sirwillard commented on #183
There are a few threads on this, here is the update as far as I can find:
They are looking to rebuild this in 2 or 3 weeks.
The most likely cause is the OIIO library, it is maintained by a separate group and has a known bug with the threads not terminating in win7.
The Win10 problems reported aren't related to this particular failure to progress bug.  They seem to fail due to camera calibration fa

[2018-10-12 16:28] natowi commented on #186
I am working on a User Guide, collecting all the information from github issues, source code comments, blogs, tutorials and the Alicevision homepage. I´ve also created screenshots, wrote text and collected information from various papers.
Figuring out the node parameters is hard, but step by step I´m getting there.
At the moment I am at 44 pages (.odt doc.). I have to do some cleanup and add citat

[2018-10-12 17:38] simogasp commented on #186
@natowi That's simply great! Maybe you can share the document as a public googledoc so we can suggest correct and complete your document. You can share publicly and allows people only to suggest changes, rather than directly change the content.

[2018-10-12 19:51] natowi commented on #201
Same problem, but reboot / clear cache/temp did not work and Alembic file can not be opened in meshroom. Any ideas?

StructureFromMotion (ok)
Structure from Motion results:
        - # input images: 7
	- # cameras calibrated: 7
	- # landmarks: 2094
----
PrepareDenseScene Log:
[trace] 7 extrinsics declared and 7 extrinsics used.
Exporting Scene Data
0%   10   20   30   40   50   60   70   80   90

[2018-10-13 03:29] egermani opened #271 "Only one image is imported from a set"
I'm trying to scan a small statue, and when I drag my photoset into the GUI, only one image makes it in. At the bottom, I've included the log output in the command window that runs alongside the GUI. Before I paste that in, though, my only idea is that something I did when editing my photos confused Meshroom. Unfortunately, I had half my shots in RAW and half in JPG (ran out of space on the memory

[2018-10-13 07:29] TaironUsaro commented on #183
Thank you for the quick response, but there ARE reports in this issue report for WIN10

 kelteseth commented on 17 Aug •
 JazzCousins commented 16 september

Since I am just a layman, I might be totally wrong, but camera calibration failure seems to me like a input data related issue, right? I used the reference material from Agisoft (the doll data set). I don't understand how this perfectly works

[2018-10-13 07:30] natowi commented on #271
Try again without cropping.
To get more images included in the reconstruction click on the FeatureExtraction node:
- add AKAZE as DescriberType
- DescriberPreset to High or Ultra

[2018-10-13 18:20] natowi opened #272 "Improvements: Images / Images Viewer / 3D Viewer"
**Images**

Sometimes you accidentally import images. At the moment you have to remove them one by one or create a new project. So the following would be useful:

- [ ] enable multi select: shift+left click /Ctrl+left click
- [x] enable Del button (delete multiple images)
- [ ] right click Delete (all images in) group
- [ ] image drop: if the error "Sensor width doesn't exist in the database for i

[2018-10-13 20:50] egermani commented on #271
Hi natowi, thanks for your reply -- it turned out to be a metadata problem, not a crop problem.

I tried a few different things that I'll mention here in case anyone else finds this issue in the future.

- I tried again without cropping, same bug.
- I went back to the source raw files and reexported them as `.jpg`, and when I tried to import, Meshroom logged: `Not a JPEG file: starts with 0x89 0x5

[2018-10-13 20:50] #271 closed

[2018-10-14 03:17] eanbowman commented on #130
@DevoStevo66 is right! Imports straight into Blender with no issues! I was able to crop the vertices to just the ones I want and the model looks great! :)

[2018-10-14 10:06] ubershy commented on #186
@natowi thank you for working on this. I really miss documentation.

[2018-10-14 13:35] Nefor111 commented on #185
Use only english named directories,do not use locales.For example /home/user/Программы gives me an error message. /home/user/programms works fine.

[2018-10-15 07:16] rgoupil commented on #208
Interesting, I will check my original pictures if I still have them.
The importer should probably be more exlicit when hitting this kind of issue: "could not parse image" would already be a much better error message than the current one IMO.

[2018-10-15 11:09] natowi commented on #179
@polynaught If you don´t want to wait for the next release, you can search for camera replacement parts on Aliexpress for Motorola Moto G5 and maybe [a reseller like this one](https://www.aliexpress.com/item/Main-Camera-For-Motorola-Moto-G4-G4-Plus-G5-G5-Plus-Rear-Back-Camera-Module-Flex/32869917996.html?spm=2114.search0104.3.53.760a3c94Jv3Bl7&ws_ab_test=searchweb0_0,searchweb201602_3_10320_10065_

[2018-10-15 12:46] JazzCousins commented on #183
Thats an interesting observation TaironUsaro, I wonder if that's related. I dont have space to fit meshroom on my C:/ but perhaps making sure all its inputs and outputs are going to the same drive its on might help. Say if you come across anything new!

[2018-10-16 01:51] shrobon commented on #243
@fabiencastan :
Could you please assist as to how I can change maxPoints on the Meshing node using command line ?

[2018-10-16 04:11] Fliguy1 opened #273 "Meshing"
having problems with multiple objects in the meshing stage. changing the max points dose nothing as i have tried cutting the values in half and setting to lowest settings. and combinations of all 3 sliders. non of witch changes a thing. using an i76700k, 16gb of ram, and a gtx 980ti.

[10/12] Meshing
 - commandLine: aliceVision_meshing  --ini "C:/Users/guyml/Dropbox/3d model site/Photoscan/Salt sh

[2018-10-16 04:13] Fliguy1 commented on #273
this is with default settings since changing maxpoints had no effect

[2018-10-16 04:15] Fliguy1 commented on #273
also with the one that worked. in the view port there were cameras placed where i believe the program figured the image was taken. but in all others it has not. (tho that mesh was terrible and only resembled the object)

[2018-10-16 09:44] fabiencastan commented on #243
When you ask for command line, I suppose that you refer to https://github.com/alicevision/meshroom/blob/develop/bin/meshroom_photogrammetry.
The `maxPoints` parameter is not exposed, but you can easily add it. Look at the `--scale` parameter to see how to add a new one.

[2018-10-16 14:18] madmage opened #274 "Camera orientation is wrong?"
Dear all,
we want to retrieve the camera track from SfM node, there is a file, cameras.sfm in the working dir of SfM, that seems to be the right thing. However, when I use those poses in another software (namely, Blender or THREE.js), while the position is fine, the orientation (i.e., the rotation matrix) seems to be somehow rotated. Given that the cameras are oriented in such a way that they see

[2018-10-16 14:42] fabiencastan commented on #274
Yes, it exists multiple standard coordinate systems. AliceVision uses the one standard in computer vision.
It's not the same standard in 3D softwares like Blender, Maya, Unity, Unreal.
In Maya, for instance, you have to invert Y and Z. So multiply by a matrix:
[code]
In Unity, for instance, you have to invert X and Y. So multiply by a matrix:
[code]
I don't know for the others.
If you use the Alem

[2018-10-16 18:36] TaironUsaro commented on #183
Quick Update:
shifting photos & .mg file & Meshroom cache from D:/......... to **C:/users/username/Test did fix the problem**.

since clean program/data segration is way more easier & cleaner with Win7 than it is with Win10 I would guess this explains why the bug mostly appears with Win7.

I linked all my data folders manually to folders on D:/ because I was used to have this segration under Win7

[2018-10-16 20:07] stefanp88 opened #275 "unable to import images on meshroom-bin for linux"
I've installed the meshroom-bin on linux via pacaur the UI opens fine but i can't import images.
I can't find out how to add AliceVision to my path in linux as described in the github repo:

Linux/macOS
PYTHONPATH=$PWD python meshroom/ui

### Problem

/usr/share/meshroom-bin/Meshroom
Plugins loaded:  CameraCalibration, CameraConnection, CameraInit, CameraLocalization, CameraRigCalibration, CameraR

[2018-10-16 21:18] natowi commented on #186
Update: 90% done. Here is a short summary. It took me some time to bring all the information in order.
There´s still a lot of work to do, but at the end of the week we´ll have something to work with.

Summary
This manual starts with the Meshroom _history_ and how to _download_, _install_ or _compile_ it for your platform.
New users should start with the _First Steps: Meshroom_ chapter, which is a